<template>
	<view class="personal_info">
		<view class="top">
			<view>
				<!-- <image src="https://sso.xjmyyxt.cn/upload/images/image/3a086107-4fd0-7f94-fefb-a82af1c317e7_.jpg" mode=""></image> -->
				<image :src="userHeadImgUrl" mode="" @click="albumClick"></image></view>
			<view>点击头像更换</view>
		</view>
		<view class="list" v-for="item in listData" :key="item.id" @click="toInfoDetail(item.id)">
			<view>{{ item.name }}</view>
			<view>
				{{ item.text }}
				<image src="../../static/img/my_jiantou.png" mode=""></image>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//列表数据
			listData: [
				{ id: 1, name: '昵称', text: '爱喊巧克力的猫' },
				{ id: 2, name: '性别', text: '女' },
				{ id: 3, name: '年龄', text: '28岁' },
				{ id: 4, name: '所在城市', text: '广东省中山市' },
				{ id: 5, name: '个性签名', text: '爱运动爱生活' }
			],
			// 个人信息
			userHeadImgUrl: '', //头像
		};
	},
	created() {
		// this.userHeadImgUrl = uni.getStorageSync('infoData').userHeadImgUrl;
		// this.listData[0].text = uni.getStorageSync('infoData').userFullName;
		// this.listData[1].text = uni.getStorageSync('infoData').sexType==0?'男':'女';
		// this.listData[2].text = uni.getStorageSync('infoData').age;
		// this.listData[3].text = uni.getStorageSync('infoData').city;
		// this.listData[4].text = uni.getStorageSync('infoData').remark;
	},
	onShow(options){
		console.log(options,"options0000")
		this.getData()
	},
	methods: {
		getData() {
			let data = {};
			this.$api.getbalanceInfo(data, res => {
				console.log(res, '获取余额信息res');
				this.userHeadImgUrl = res.userHeadImgUrl;
				this.listData[0].text = res.userFullName;
				this.listData[1].text = res.sexType==0?'男':'女';
				this.listData[2].text = res.age;
				this.listData[3].text = res.city;
				this.listData[4].text = res.remark;
				
			});
		},
		//点击列表
		toInfoDetail(id) {
			if(id==1){
				uni.navigateTo({
					url: `/pages/updateName/updateName?id=${id}`
				});
			}
				
		},
		//换图片
		albumClick() {
			let that = this;
			uni.chooseImage({
				count: 1, //默认9
				sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
				sourceType: ['album'], //从相册选择
				success: function(res) {
					console.log(JSON.stringify(res), '0000000000');
					console.log(JSON.stringify(res.tempFilePaths), '0000000000');
					// tempFiles
					// that.userHeadImgUrl = res.tempFilePaths[0];
					console.log(res.tempFilePaths[0], '0000000000');
					that.update(res.tempFilePaths[0]); //上传图片
					// let data = {
					// 	file:res.tempFiles
					// };
					// that.$api.uploadImg(data, res => {
					// 	console.log(res, '上传图片res');
					// });
				}
			});
			// let data = {
			// 	file:res.tempFiles
			// };
			// this.$api.uploadImg(data, res => {
			// 	console.log(res, '上传图片res');
			// });
		},
		//上传图片
		update(filePath) {
			const _this = this;
			const res = uni.uploadFile({
				url: "https://www.xjmyyxt.cn/api/image/upload", //仅为示例，非真实的接口地址
				filePath: filePath,
				name: 'file',
				header: {
					Authorization: 'Bearer ' + uni.getStorageSync('access_token'),
				},
				success: res => {
					console.log(res,"res-------")
					console.log(res.data,"res-------")
					let urlStr = res.data.split(",")[3]
					// this.userHeadImgUrl = urlStr.split(":")[1]+":"+urlStr.split(":")[2]
					let uu = urlStr.split(":")[1]+":"+urlStr.split(":")[2]
					let newuu = uu.substring(1, uu.length-1);
					let data = {
						// nickName: this.userFullName,
						headImgUrl: newuu,
						// phoneNumber: '',
						// sexType: this.sexType,
						// age: this.age,
						// city: '',
						// remark: this.remark
					};
					this.$api.updataUserInfo(data, res => {
						console.log(res, '更新用户信息res');
						this.getData();
					});
					// console.log(this.userHeadImgUrl,"res2222222-------")
					// console.log(JSON.parse(res.data).data)  处理格式
					// this.weChatRegister({ headimg: REQUEST_BASE_URL + '/' + JSON.parse(res.data).data }); //将真实图片地址请求给后端做修改
				}
			});
		}
	}
};
</script>

<style scoped lang="scss">
.personal_info {
	height: 100vh;
	background-color: #fff;
	.top {
		padding-top: 10px;
		text-align: center;
		> view:nth-child(2) {
			font-size: 14px;
			font-weight: 700;
			padding: 5px 0;
		}
		image {
			width: 60px;
			height: 60px;
		}
	}
	.list {
		width: 90%;
		margin: 2vh auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		background-color: #f8f8f8;
		font-size: 14px;
		> view:first-child {
			font-weight: 900;
		}
		> view:nth-child(2) {
			display: flex;
			align-items: center;
			color: #666;
		}
		image {
			width: 14px;
			height: 5px;
			margin-left: 2vw;
		}
	}
}
</style>
