<template>
	<view class="index">
		<view class="status_bar"><!-- 这里是状态栏 --></view>
		<view class="status-box">
			<!-- 状态栏下的文字内容 -->
			<text class="name">长沙市</text>
			<uni-icons type="bottom" size="20"></uni-icons>
		</view>
		<view class="search">
			<uni-search-bar bgColor="#f8f8f8" placeholder="搜索关键字搜索场馆..." v-model="searchValue"  clearButton="auto" cancelButton="none" @confirm="search" @input="input">
				<template v-slot:searchIcon>
					<image class="set_img" src="../../static/img/home_search.png"></image>
				</template>
			</uni-search-bar>
		</view>
		<view class="swiper">
			<swiper circular indicator-dots=true autoplay=true interval="2000" duration="500" indicator-color="rgba(255, 255, 255, 0.5)" indicator-active-color="#fff">
				<swiper-item v-for="(item,index) in imageData" :key="index"><image :src="item" mode=""></swiper-item>
			</swiper>
		</view>
		<view class="scroll_y">
			<scroll-view class="scrollContainer" scroll-x>
				<view class="scrollitem" v-for="(item, index) in navList" :key="index" @click="toVenueListScreen(item.name)">
					<view><image :src="item.icon" mode="" style="width: 40px;height: 40px;"></image></view>
					<view>{{ item.name }}</view>
				</view>
			</scroll-view>
		</view>
		<view class="recommend">
			<view>推荐场馆</view>
			<view>
				<scroll-view class="scrollContainer" scroll-x>
					<view class="scrollitem" v-for="(item, index) in venueList" :key="index" @click="toVenueDetail(item.id)">
						<view style="position: relative;">
							<image :src="item.bannerImage" mode="" style="width: 150px;height: 100px;"></image>
							<image src="../../static/img/home_imglogo.png" style="width: 20px;height: 20px;position: absolute;top: 10px;left: 10px;"></image>
						</view>
						<view>{{ item.name }}</view>
						<view>
							<!-- <uni-icons type="location-filled" size="18" color="#dbdde1"></uni-icons> -->
							<image src="../../static/img/weizhi.png" mode=""></image>
							<text>{{ item.location }}</text>
						</view>
					</view>
				</scroll-view>
			</view>
		</view>
		<view class="venue_list">
			<view>
				<view>场馆列表</view>
				<view @click="toVenueList">
					<text>更多</text>
					<uni-icons type="forward" size="16" color="#919191"></uni-icons>
				</view>
			</view>
			<view class="list_row" v-for="item in Lists" :key="item.id">
				<view >
					<image :src="item.bannerImage" mode="" style=""></image>
				</view>
				<view class="row2">
					<view>{{item.name}}</view>
					<view>开放时间: {{item.openTime}}~{{item.closeTime}}</view>
					<view>
						<view >
							<!-- <uni-icons type="location-filled" size="18" color="#dbdde1"></uni-icons> -->
							<image src="../../static/img/weizhi.png" mode=""></image>
							<text>{{item.location}}</text>
						</view>
						<view >
							<button type="default" size="mini" @click="toReserveDetail(item.name)">预订</button>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="set_height">
			
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//banner图列表
			imageData: [
				// '../../static/img/home_banner1.png',
				// '../../static/img/home_banner1.png'
			],
			//首页nav导航列表
			navList: [
				// { id: 1, icon: '../../static/img/home_nav1.png', name: '全部' },
				// { id: 2, icon: '../../static/img/home_nav2.png', name: '足球' },
				// { id: 3, icon: '../../static/img/home_nav3.png', name: '网球' },
				// { id: 4, icon: '../../static/img/home_nav4.png', name: '羽毛球' },
				// { id: 5, icon: '../../static/img/home_nav5.png', name: '乒乓球' },
				// { id: 6, icon: '../../static/img/home_nav6.png', name: '篮球' }
			],
			//推荐场馆列表
			venueList: [
				// { id: 1, icon: '../../static/img/home_venue1.png', name: '爱瑞特综合馆', address: '韶山南路134号' },
				// { id: 2, icon: '../../static/img/home_venue2.png', name: '爱瑞特综合馆', address: '韶山南路134号' },
				// { id: 3, icon: '../../static/img/home_venue3.png', name: '爱瑞特综合馆', address: '韶山南路134号' },
				// { id: 4, icon: '../../static/img/home_venue4.png', name: '爱瑞特综合馆', address: '韶山南路134号' },
				// { id: 5, icon: '../../static/img/home_venue2.png', name: '爱瑞特综合馆', address: '韶山南路134号' },
				// { id: 6, icon: '../../static/img/home_venue1.png', name: '爱瑞特综合馆', address: '韶山南路134号' }
			],
			//场馆列表
			Lists:[
				// { id: 1, icon: '../../static/img/home_venue1.png', name: '爱瑞特综合馆', address: '韶山南路134号' ,time:'8:00~23:00'},
				// { id: 2, icon: '../../static/img/home_venue2.png', name: '爱瑞特综合馆', address: '韶山南路134号' ,time:'8:00~23:00'},
				// { id: 3, icon: '../../static/img/home_venue3.png', name: '爱瑞特综合馆', address: '韶山南路134号' ,time:'8:00~23:00'},
				// { id: 4, icon: '../../static/img/home_venue4.png', name: '爱瑞特综合馆', address: '韶山南路134号' ,time:'8:00~23:00'},
				// { id: 5, icon: '../../static/img/home_venue1.png', name: '爱瑞特综合馆', address: '韶山南路134号' ,time:'8:00~23:00'},
				// { id: 6, icon: '../../static/img/home_venue2.png', name: '爱瑞特综合馆', address: '韶山南路134号' ,time:'8:00~23:00'}
			],
			pageSize:10,//每页显示多少条记录
			page:0,//跳过多少条记录
			totalCount:0,//数据总数
		};
	},
	onShow() {
		this.getOrganizationData() //获取场馆列表
		this.getTopOrganizationData()//获取置顶场馆列表
		this.getRecommendedOrganizationData()//获取推荐场馆列表
		this.getSportData()//获取体育列表
		// this.getDataInfo()
		// this.getPlaceData()
		// this.getPlaceInfo()
		// this.getSportInfo()
		//
	},
	created() {
		// this.toGetOpenid()
	},
	// 触底加载
	onReachBottom() {
		if(this.totalCount >=this.page){
			this.page+=this.pageSize
			this.getOrganizationData()
		}
	},
	methods: {
		//获取场馆列表
		getOrganizationData(){
			let data = {
				MaxResultCount:this.pageSize,
				SkipCount:this.page
			}
			this.$api.getOrganization(data, res => {
				console.log(res,"获取场馆列表res")
				res.items.forEach(item=>{
					item.bannerImage = item.bannerImage.replace('{0}','s')
				})
				this.Lists = [...this.Lists,...res.items]
				this.totalCount= res.totalCount
			})
		},
		//获取置顶场馆列表
		getTopOrganizationData(){
			let data = {
				TopOnly:true,
			}
			this.$api.getOrganization(data, res => {
				console.log(res,"获取置顶场馆列表res")
				res.items.forEach(item=>{
					item.bannerImage = item.bannerImage.replace('{0}','h')
					this.imageData.push(item.bannerImage)
				})
			})
		},
		//获取推荐场馆列表
		getRecommendedOrganizationData(){
			let data = {
				RecommendedOnly:true,
			}
			this.$api.getOrganization(data, res => {
				console.log(res,"获取推荐场馆列表res")
				res.items.forEach(item=>{
					item.bannerImage = item.bannerImage.replace('{0}','m')
				})
				this.venueList = res.items
			})
		},
		//获取体育列表
		getSportData(){
			let data = {}
			this.$api.getSport(data, res => {
				console.log(res,"获取体育列表res")
				uni.setStorageSync('sportList', res.items);
				// unshift  "3a069cb9-8aaf-18a4-df31-5421fe75b224"
				res.items.unshift({enabled:true,icon:"https://sso.xjmyyxt.cn/images/icon/all.png",name:'全部',id:"3a069cb9-8aaz-x2y8-01t7-z432904i9862"})
				this.navList = res.items
			})
		},
		//微信授权
		toProfile() {
			console.log('微信授权微信授权微信授权');
			let that = this;
			//用户授权，获取用户信息
			uni.getUserProfile({
				desc: '获取你的昵称、头像、地区及性别',
				success: res => {
					console.log('获取你的昵称、头像', res);
					uni.setStorageSync('userInfo', res);
					this.loginUser();
				},
				fail: res => {
					console.log(res);
					//拒绝授权
					uni.showToast({
						title: '您拒绝了请求,不能正常使用小程序',
						icon: 'error',
						duration: 2000
					});
					return;
				}
			});
			
		},
		//微信用户登录
		loginUser() {
			let that = this;
			wx.login({
				provider: 'weixin',
				success: function(loginRes) {
					console.log('login重新登录', loginRes);
					//登录
					let data = {
						code:loginRes.code
					}
					that.$api.login(data, res => {
						console.log(res,"登录res")
						//注册
						if(!res.tokenInfo){
							let data = {
								sessionId:res.appInfo.sessionId,
								unionId:res.appInfo.unionId,
								openId:res.appInfo.openId
							}
							that.$api.login(data, res => {
								console.log(res,"注册res")
							})
						}
					})
				},
				fail: function(loginRes) {
					console.log(loginRes);
				}
			});
		},
		//获取code
		toGetOpenid(){
			//获取当前页面的url
			let link = window.location.href;
			console.log(link, 'link');
			// this.codeOpenid = null; //授权获取的code,用它查询用户基本信息
			// 判断link中有没有code=字符串，
			if (link.indexOf('code=') === -1) {
				//没有code= 发请求
				//公众号或小程序id
				let appid = 'wx42b8b87ce8098825';
				//重定向地址，就是用户授权后返回来的地址
				let uri = encodeURIComponent(link);
				let authURL = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${appid}&redirect_uri=${uri}&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect`;
				window.location.href = authURL;
			} else {
				//回调函数已经执行 返回的链接存在code= 地址解析
				let temp = link.split('code=')[1];
				this.codeOpenid = temp.split('&')[0];
				console.log(this.codeOpenid, 'codeOpenid');
				//存储code
				// uni.setStorageSync('codeOpenid', this.codeOpenid);
				//对后台发送请求传参code获取token和用户信息
				let data = {
					code: this.codeOpenid
				};
				this.$api.getOpenid(data, res => {
					console.log(res, '获取openid res===========');
					uni.setStorageSync('openid', res.data.openid);
				});
				
			}
		},
		// 
		//获取场馆信息
		getDataInfo(){
			let data = {}
			let param = '3a04eda8-6535-cb4c-1927-35bfa34cc746'
			this.$api.getOrganizationInfo(param,data, res => {
				console.log(res,"获取场馆信息res")
			})
		},
		//获取场地列表
		getPlaceData(){
			let data = {}
			this.$api.getPlace(data, res => {
				console.log(res,"获取场地列表res")
			})
		},
		//获取场地信息
		getPlaceInfo(){
			let data = {}
			let param = '3a04ed9c-184d-e1e9-394f-b8353e43bb7d'
			this.$api.getPlaceInfo(param,data, res => {
				console.log(res,"获取场地信息res")
			})
		},
		
		//获取体育信息
		getSportInfo(){
			let data = {}
			let param = '3a069cb9-8aae-b2c8-01e7-a432804b9862'
			this.$api.getSportInfo(param,data, res => {
				console.log(res,"获取体育信息res")
			})
		},
		//搜索
		search(res) {
			console.log('----search:', res.value);
			uni.navigateTo({
				url: `/pages/searchRes/searchRes?value=${JSON.stringify(res.value)}`
			});
		},
		//搜索
		input(res) {
			// console.log('----input:', res);
		},
		//点击更多跳转场馆列表页面
		toVenueList(){
			uni.navigateTo({
				url: '/pages/venueList/venueList'
			});
		},
		//点击体育nav跳转到场馆列表页面——体育类型筛选
		toVenueListScreen(name){
			uni.navigateTo({
				url: `/pages/venueList/venueList?name=${name}`
			});
		},
		//跳转到场馆详情页
		toVenueDetail(id){
			uni.navigateTo({
				url: `/pages/venueDetail/venueDetail?id=${id}`
			});
		},
		//点击预定
		toReserveDetail(name){
			uni.navigateTo({
				url: `/pages/reserveDetail/reserveDetail?name=${name}`
			});
		}
	}
};
</script>

<style scoped lang="scss">
.index {
	background-color: #fff;
	.status_bar {
		height: var(--status-bar-height);
		// height: 2vh;
		width: 100%;
		background: #fff;
		position: fixed;
		top: 0;
		z-index: 1111;
	}
	.status-box {
		width: 100%;
		// height: 50px;
		height: 8%;
		padding: 4% 0 0 10px;
		background: #fff;
		// margin-top: 25px;
		// padding: 10px 0 12px 20px;
		font-size: 16px;
		color: #060606;
		font-weight: 500;
		position: fixed;
		top: 0;
		z-index: 10000;
		display: flex;
		align-items: center;
		.name {
			padding-right: 7px;
		}
	}
	.search {
		width: 95%;
		margin: auto;
		margin-top: 10vh;
		.set_img{
			width: 20px;
			height: 20px;
		}
	}
	.swiper {
		width: 90%;
		margin: auto;
		// border-radius: 10px;
		swiper {
			width: 100%;
			height: 25vh;
			// border-radius: 10px;
			image {
				width: 100%;
				height: 100%;
				// border-radius: 10px;
			}
		}
	}
	.scroll_y {
		width: 90%;
		margin:2vh auto;
		// margin-top: 2vh;
		.scrollContainer {
			white-space: nowrap;
			width: 100%;
			margin: 0 auto;
			.scrollitem {
				width: 50px;
				display: inline-block;
				text-align: center;
				background-color: #f8f7fc;
				margin-right: 4vw;
				padding: 2vh 4vw;
				border-radius: 10px;
				
			}
		}
	}
	.recommend {
		width: 90%;
		margin: 4vh auto;
		> view:first-child {
			font-weight: 800;
			font-size: 20px;
		}
		> view:nth-child(2) {
			margin-top: 2vh;
			.scrollContainer {
				white-space: nowrap;
				width: 100%;
				margin: 0 auto;
				.scrollitem {
					width: 150px;
					display: inline-block;
					text-align: center;
					background-color: #f8f7fc;
					margin-right: 4vw;
					border-radius: 10px;
					> view:nth-child(2) {
						font-size: 18px;
						font-weight: 900;
						padding: 5px 0;
					}
					> view:nth-child(3) {
						color: #666;
						font-size: 15px;
						padding:0 0 10px 20px;
						display: flex;
						image{
							width: 10px;
							height: 12px;
							margin-right: 5px;
						}
					}
					text{
						width: 70%;
						font-size: 14px;
						// height: 50px;
						// display:inline-block;white-space: pre-wrap; word-wrap: break-word;
						overflow: hidden; //超出部分隐藏
						-webkit-line-clamp: 1; //显示几行
						text-overflow: ellipsis; //超出部分显示省略号
					}
				}
			}
		}
	}
	.venue_list{
		width: 90%;
		margin: 4vh auto;
		> view:first-child {
			display: flex;
			align-items: center;
			justify-content: space-between;
			> view:first-child {
				font-weight: 800;
				font-size: 20px;
			}
			> view:nth-child(2) {
				color: #919191;
			}
			
		}
		.list_row{
			// width: 90%;
			// margin: auto;
			margin-top: 2vh;
			background-color: #f8f8fa;
			padding: 20px 10px;
			display: flex;
			align-items: center;
			.row2{
				width: 100%;
				> view:first-child {
					font-size: 18px;
					font-weight: 900;
				}
				> view:nth-child(2) {
					color: #666;
					padding: 4px 0;
					font-size: 15px;
				}
				> view:nth-child(3) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 14px;
					text{
						color: #666;
					}
					button{
						background-color: #5d6f90;
						color: #fff;
						width: 70px;
					}
				}
				image{
					width: 10px;
					height: 12px;
					margin-right: 1vw !important;
				}
			}
			image{
				width: 100px;height: 80px;margin-right: 3vw;
			}
		}
	}
	.set_height{
		height: 2vh;
		background-color: #fff;
	}
}
</style>
