<template>
	<view class="update">
		<view class="update_name" v-if="id == 1">
			<view class="row1">填写您的昵称</view>
			<view class="row2">希望我们怎么称呼你？</view>
			<view class="row3"><input type="text" v-model="userFullName" placeholder="请输入您的昵称" @input="toName" /></view>
		</view>
		<view class="update_sex" v-else-if="id == 2">
			<view class="row1">选择您的性别</view>
			<view class="row2"><uni-data-checkbox v-model="sexType" :localdata="sex" @change="change"></uni-data-checkbox></view>
		</view>
		<view class="update_age" v-else-if="id == 3">
			<view class="row1">填写您的年龄</view>
			<view class="row2"><input type="text" v-model="age" placeholder="请输入您的年龄" @input="toAge" /></view>
		</view>
		<view class="update_city" v-else-if="id == 4">
			<view class="row1">选择您的城市</view>
			<view class="row2">
				<uni-data-picker
					placeholder="请选择所在地区"
					popup-title="请选择所在地区"
					:localdata="dataTree"
					v-model="cityValue"
					@change="onchange"
					@nodeclick="onnodeclick"
					@popupopened="onpopupopened"
					@popupclosed="onpopupclosed"
				></uni-data-picker>
			</view>
		</view>
		<view class="update_remark" v-else-if="id == 5">
			<view class="row1">填写您的个性签名</view>
			<view class="row2"><input type="text" v-model="remark" placeholder="请输入您的个性签名" @input="toRemark" /></view>
		</view>
		<view class="btn"><button type="default" @click="toUpdateInfo">保存</button></view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			userFullName: '', //昵称
			sexType: 0, //性别
			age: '', //年龄
			city: '',
			cityValue: '1-1', //城市
			remark: '', //个性签名
			//性别选择值
			sex: [{ text: '男', value: 0 }, { text: '女', value: 1 }],
			id: '', //上个页面传过来的id
			// classes: '',
			dataTree: [
				{
					text: '湖南',
					value: '1-0',
					children: [
						{
							text: '长沙',
							value: '1-1'
						},
						{
							text: '湘潭',
							value: '1-2'
						}
					]
				},
				{
					text: '湖北',
					value: '2-0',
					children: [
						{
							text: '武汉',
							value: '2-1'
						}
					]
				}
			]
		};
	},
	onLoad(options) {
		console.log(options, 'options');
		this.id = options.id;
		this.userFullName = uni.getStorageSync('infoData').userFullName;
		this.sexType = uni.getStorageSync('infoData').sexType;
		this.age = uni.getStorageSync('infoData').age;
		this.remark = uni.getStorageSync('infoData').remark;
		// this.city = uni.getStorageSync('infoData').city;
	},
	// onUnload() {
	// 	console.log('9999999');
	// 	var pages = getCurrentPages(); // 获取页面栈
	// 	var currPage = pages[pages.length - 1]; // 当前页面
	// 	var prevPage = pages[pages.length - 2]; // 上一个页面
	// 	let obj = {
	// 		userFullName: this.userFullName, //昵称
	// 		sexType: this.sexType, //性别
	// 		age: this.age, //年龄
	// 		city: this.city, //城市
	// 		remark: this.remark //个性签名
	// 	};
	// 	prevPage.onShow(obj);
	// },
	methods: {
		//保存
		toUpdateInfo(){
			let data = {
				nickName: this.userFullName,
				headImgUrl: '',
				phoneNumber: '',
				sexType: this.sexType,
				age: this.age,
				city: '',
				remark: this.remark
			};
			this.$api.updataUserInfo(data, res => {
				console.log(res, '更新用户信息res');
				uni.navigateBack({
				    delta: 1
				});

			});
		},
		//修改昵称
		toName(e) {
			this.userFullName = e.detail.value;
		},
		//年龄
		toAge(e) {
			this.age = e.detail.value;
		},
		// 个性签名
		toRemark(e) {
			this.age = e.detail.value;
		},
		//性别选择
		change(e) {
			console.log('e:', e);
			this.remark = e.detail.value;
		},
		//城市选择
		onchange(e) {
			console.log('onchange:', e);
		},
		onnodeclick(e) {
			console.log(e);
		},
		onpopupopened(e) {
			console.log('popupopened');
		},
		onpopupclosed(e) {
			console.log('popupclosed');
		}
	}
};
</script>

<style scoped lang="scss">
.update {
	.btn {
		position: fixed;
		bottom: 2px;
		left: 5%;
		width: 90%;
		button {
			color: #fff;
			background-color: #5a7090;
		}
	}
	height: 100vh;
	background-color: #fff;
	.update_name {
		> view {
			width: 90%;
			margin: auto;
		}
		.row1 {
			padding: 10px;
			color: #666;
		}
		.row2 {
			padding-bottom: 20px;
			font-size: 18px;
			font-weight: 900;
		}
		.row3 {
			input {
				height: 40px;
				border-radius: 5px;
				padding: 0 10px;
				background-color: #e6e6e6;
			}
		}
		
	}
	.update_sex {
		> view {
			width: 90%;
			margin: auto;
		}
		.row1 {
			padding: 10px;
			color: #666;
		}
	}
	.update_age,
	.update_remark {
		> view {
			width: 90%;
			margin: auto;
		}
		.row1 {
			padding: 10px;
			color: #666;
		}
		.row2 {
			input {
				height: 40px;
				border-radius: 5px;
				padding: 0 10px;
				background-color: #e6e6e6;
			}
		}
	}
	.update_city {
		> view {
			width: 90%;
			margin: auto;
		}
		.row1 {
			padding: 10px;
			color: #666;
		}
	}
}
</style>
