<template>
	<view class="order_detail">
		<view class="card1">
			<view class="flex">
				<view>订单号 {{ dataInfo.xqmPayId }}</view>
				<!-- <view class="set_status">已退款</view> -->
				<view v-if="dataInfo.billStatus == 0" class="set_status0">待支付</view>
				<view v-else-if="dataInfo.billStatus == 1" class="set_status1">已支付</view>
				<view v-else-if="dataInfo.billStatus == 2" class="set_status2">支付失败</view>
				<view v-else-if="dataInfo.billStatus == 3" class="set_status3">已取消</view>
				<view v-else-if="dataInfo.billStatus == 4" class="set_status4">退款中</view>
				<view v-else-if="dataInfo.billStatus == 5" class="set_status5">已退款</view>
				<view v-else-if="dataInfo.billStatus == 6" class="set_status6">审核中</view>
				<view v-else-if="dataInfo.billStatus == 7" class="set_status7">审核失败</view>
			</view>
			<view class="flex">
				<view><image src="../../static/img/odetail_icon1.png" mode=""></image></view>
				<view>{{ dataInfo.organizationName }}-{{ dataInfo.placeFullName }}-{{ dataInfo.scheduleName }}</view>
			</view>
			<view class="flex">
				<view class="flex">
					<view><image src="../../static/img/odetail_icon.png" mode=""></image></view>
					<view>{{ dataInfo.shortDate }} {{ dataInfo.scheduleStartTimeStr }}-{{ dataInfo.scheduleEndTimeStr }}</view>
				</view>
				<view>￥{{ dataInfo.price }}</view>
			</view>
		</view>
		<view class="card2">
			<view>
				<view>退款金额</view>
				<view>￥{{ dataInfo.returnPrice }}</view>
			</view>
			<view>
				<view>
					<image src="../../static/img/conorder_icon1.png" mode=""></image>
					退款手续费
				</view>
				<view>￥{{ dataInfo.returnFee }}</view>
			</view>
		</view>
		<view class="card3">
			<view>
				<view>联系人</view>
				<view>{{ dataInfo.contactName }}</view>
			</view>
			<view>
				<view>联系方式</view>
				<view>{{ dataInfo.contactPhone }}</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			id: '', //订单id
			dataInfo: '' //页面信息
		};
	},
	onLoad(options) {
		this.id = options.id;
		this.getData();
	},
	methods: {
		getData() {
			let data = {};
			let param = this.id;
			this.$api.getBookingInfo(param, data, res => {
				console.log(res, '获取预约信息 订单-res');
				this.dataInfo = res;
			});
		}
	}
};
</script>

<style scoped lang="scss">
.order_detail {
	background-color: #fff;
	height: 100vh;
	.card1 {
		width: 80%;
		margin: auto;
		background-color: #f8f8fa;
		padding: 20px;
		.set_status0,
		.set_status1,
		.set_status2,
		.set_status3,
		.set_status4,
		.set_status5,
		.set_status6,
		.set_status7 {
			color: #fff;
			padding: 2px 5px;
			font-size: 12px;
		}
		.set_status0 {
			background-color: #007aff;
		}
		.set_status1{
			background-color: #49cc90;
		}
		.set_status2 {
			background-color: #fc5531;
		}
		.set_status3 {
			background-color: #d3d7dc;
		}
		.set_status4 {
			background-color: #ffd269;
		}
		.set_status5 {
			background-color: #e64340;
		}
		.set_status6 {
			background-color: #46d0ba;
		}
		.set_status7 {
			background-color: #fc5531;
		}
		.flex {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		> view:first-child {
			border-bottom: 1px solid #e2e1e5;
			padding-bottom: 15px;
			> view:first-child {
				font-size: 16px;
				font-weight: 900;
			}
		}
		> view:nth-child(2) {
			justify-content: flex-start !important;
			color: #666;
			font-size: 14px;
			padding-top: 15px;
			image {
				width: 10px;
				height: 12px;
				margin-right: 2vw;
			}
		}
		> view:nth-child(3) {
			> view:first-child {
				color: #666;
				font-size: 14px;
			}
			> view:nth-child(2) {
				font-size: 18px;
				font-weight: 900;
				color: #0385ff;
			}
			image {
				width: 12px;
				height: 12px;
				margin-right: 2vw;
			}
		}
	}
	.card2 {
		width: 80%;
		margin: 2vh auto;
		background-color: #f8f8fa;
		padding: 20px;
		> view:first-child {
			font-size: 16px;
			font-weight: 900;
			margin-bottom: 2vh;
		}
		> view:nth-child(2) {
			font-size: 15px;
			> view:first-child {
				display: flex;
				align-items: center;
			}
		}
		> view {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		image {
			width: 15px;
			height: 15px;
			margin-right: 2vw;
		}
	}
	.card3 {
		width: 80%;
		margin: 2vh auto;
		background-color: #f8f8fa;
		padding: 20px;
		> view:first-child {
			padding-bottom: 10px;
			border-bottom: 1px solid #dadada;
		}
		> view:nth-child(2) {
			padding-top: 10px;
		}
		> view {
			display: flex;
			justify-content: space-between;
			> view:first-child {
				font-weight: 900;
			}
		}
	}
}
</style>
