<template>
	<view class="login">
		<view class="title" style="background-image: url(../../static/img/login_bg.png);background-size: 100% 100%;">
			<view>欢迎登录</view>
			<view>我们提供更专业、更便利的体育服务</view>
			<view class="phone">
				<view>手机号</view>
				<view>
					<image src="../../static/img/login_icon2.png" mode=""></image>
					<input type="text" v-model="phoneNumber" placeholder="请输入您的手机号" />
				</view>
			</view>
		</view>
		<view class="code_card">
			<view>验证码</view>
			<view>
				<view>
					<image src="../../static/img/login_icon1.png" mode=""></image>
					<input type="text" v-model="codeNumber" placeholder="请输入您的验证码" />
				</view>
				<!-- <view><button size="mini" :disabled="btnDis" @tap="sendCode">{{btnText}}</button></view> -->
				<view @click="sendCode(btnDis)" :class="{ set_text: btnDis == true }">{{ btnText }}</view>
			</view>
		</view>
		<view class="btn"><button type="default" @click="toLogin">登录</button></view>
		<view class="argee" @click="toArgee">
			<image src="../../static/img/login_agree.png" mode="" v-if="!isArgee"></image>
			<image src="../../static/img/login_agreeed.png" mode="" v-else></image>
			<text>登录即代表同意</text>
			<text class="set_color">《隐私政策》、《用户使用协议》</text>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			phoneNumber: '', //手机号
			codeNumber: '', //验证码
			isArgee: false, //是否同意
			btnDis: false, // 发送验证码按钮不禁用
			btnText: '获取验证码' ,// 提示
			codeOpenid:""
		};
	},
	created() {},
	methods: {
		//发送验证码
		sendCode(val) {
			if (!this.phoneNumber) {
				uni.showToast({
					title: '请输入手机号',
					icon: 'none',
					duration: 2000
				});
				return false;
			}
			let reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
			if (!reg.test(this.phoneNumber)) {
				uni.showToast({
					title: '请输入正确的手机号',
					icon: 'none',
					duration: 2000
				});
				return false;
			}
			if (!val) {
				// 初始化定时器
				let t = null;
				// 倒计时1分钟
				let timer = 60;
				// 按钮禁用
				this.btnDis = true;
				// 计时器清零
				clearInterval(t);
				// 按钮显示时间
				this.btnText = `${timer}s`;
				t = setInterval(() => {
					// 当倒计时完时，显示重新发送,按钮开启
					if (timer == 0) {
						clearInterval(t);
						this.btnText = '重新获取';
						this.btnDis = false;
						return;
					}
					// 实现倒计时效果
					timer--;
					this.btnText = `${timer}s`;
				}, 1000);
			}
		},
		//登录
		toLogin() {
			// uni.switchTab({
			// 	url: '/pages/index/index'
			// });
			//
			if (!this.phoneNumber) {
				uni.showToast({
					title: '请输入手机号',
					icon: 'none',
					duration: 2000
				});
				return false;
			}
			let reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
			if (!reg.test(this.phoneNumber)) {
				uni.showToast({
					title: '请输入正确的手机号',
					icon: 'none',
					duration: 2000
				});
				return false;
			}
			if (!this.codeNumber) {
				uni.showToast({
					title: '请输入验证码',
					icon: 'none',
					duration: 2000
				});
				return false;
			}
			if (!this.isArgee) {
				uni.showToast({
					title: '是否同意用户使用协议',
					icon: 'none',
					duration: 2000
				});
				return false;
			}
			let that = this;
			let params = {
				client_id: 'Xabp_App',
				client_secret: '',
				username: 'user',
				password: '123',
				scope: 'Xabp profile offline_access',
				grant_type: 'password'
			};
			uni.request({
				url: 'https://sso.xjmyyxt.cn/connect/token',
				// url: '/node_api/connect/token',
				method: 'POST',
				data: params,
				header: {
					'content-type': 'application/x-www-form-urlencoded'
				},
				success: res => {
					console.log(res, 'res------------');
					that.toProfile(); //
					// that.toGetOpenid(); //
					uni.setStorageSync('access_token', res.data.access_token);
					uni.setStorageSync('checked', false);
					uni.switchTab({
						url: '/pages/index/index'
					});
				},
				fail: err => {}
			});
		},
		//微信授权
		toProfile() {
			console.log('微信授权微信授权微信授权');
			let that = this;
			//用户授权，获取用户信息
			uni.getUserProfile({
				desc: '获取你的昵称、头像、地区及性别',
				success: res => {
					console.log('获取你的昵称、头像', res);
					// uni.setStorageSync('userInfo', res);
					this.loginUser();
				},
				fail: res => {
					console.log(res);
					//拒绝授权
					uni.showToast({
						title: '您拒绝了请求,不能正常使用小程序',
						icon: 'error',
						duration: 2000
					});
					return;
				}
			});
		},
		//微信用户登录
		loginUser() {
			let that = this;
			wx.login({
				provider: 'weixin',
				success: function(loginRes) {
					console.log('login重新登录', loginRes);
					//登录
					let data = {
						code: loginRes.code
					};
					that.$api.login(data, res => {
						console.log(res, '登录res');
						uni.setStorageSync('appInfo', res.appInfo);
					});
				},
				fail: function(loginRes) {
					console.log(loginRes);
				}
			});
		},
		//获取code
		toGetOpenid(){
			//获取当前页面的url
			let link = window.location.href;
			console.log(link, 'link');
			// this.codeOpenid = null; //授权获取的code,用它查询用户基本信息
			// 判断link中有没有code=字符串，
			if (link.indexOf('code=') === -1) {
				//没有code= 发请求
				//公众号或小程序id
				let appid = 'wx42b8b87ce8098825';
				//重定向地址，就是用户授权后返回来的地址
				let uri = encodeURIComponent(link);
				let authURL = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${appid}&redirect_uri=${uri}&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect`;
				window.location.href = authURL;
			} else {
				//回调函数已经执行 返回的链接存在code= 地址解析
				let temp = link.split('code=')[1];
				this.codeOpenid = temp.split('&')[0];
				console.log(this.codeOpenid, 'codeOpenid');
				//存储code
				// uni.setStorageSync('codeOpenid', this.codeOpenid);
				//对后台发送请求传参code获取token和用户信息
				let data = {
					code: this.codeOpenid
				};
				this.$api.getOpenid(data, res => {
					console.log(res, '获取openid res===========');
					uni.setStorageSync('openid', res.data.openid);
				});
				
			}
		},
		//是否同意协议
		toArgee() {
			this.isArgee = !this.isArgee;
		}
	}
};
</script>

<style scoped lang="scss">
.login {
	height: 100vh;
	background-color: #fff;
	.title {
		height: 200px;
		> view {
			width: 90%;
			margin: auto;
		}

		> view:first-child {
			font-size: 30px;
			letter-spacing: 5px;
			font-weight: 900;
			padding-top: 5vh;
		}
		> view:nth-child(2) {
			color: #666;
			margin-top: 1vh;
		}
		.phone {
			margin-top: 8vh;
			> view:first-child {
				font-weight: 900;
				margin-bottom: 2vh;
			}
			> view:nth-child(2) {
				display: flex;
				align-items: center;
				padding-bottom: 15px;
				border-bottom: 1px solid #e7e7e7;
			}
			image {
				width: 13px;
				height: 20px;
				margin-right: 4vw;
			}
		}
	}
	.code_card {
		width: 90%;
		margin: auto;
		margin-top: 6vh;
		> view:first-child {
			font-weight: 900;
			margin-bottom: 2vh;
		}
		> view:nth-child(2) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 15px;
			border-bottom: 1px solid #e7e7e7;
			> view {
				display: flex;
				align-items: center;
			}
			> view:nth-child(2) {
				color: #41a3ff;
				font-weight: 800;
				font-size: 14px;
				background-color: #fff;
			}
			.set_text {
				color: #909090 !important;
			}
		}
		image {
			width: 14px;
			height: 18px;
			margin-right: 4vw;
		}
	}
	.btn {
		width: 80%;
		margin: 6vh auto;
		button {
			color: #fff;
			background-color: #5d6f8e;
		}
	}
	.argee {
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		text {
			color: #666;
		}
		.set_color {
			color: #41a3ff !important;
		}
		image {
			width: 12px;
			height: 12px;
			margin-right: 2vw;
		}
	}
}
</style>
