<template>
	<view class="privacy_policy">
		<view class="top">
			<view class="">
				<view>小球迷隐私政策</view>
				<view>更新时间：2022-10-22</view>
			</view>
			<view class="">
				<image src="../../static/img/agree_icon.png" mode=""></image>
			</view>
		</view>
		<view class="content">
			<view class="set_left">
				新金马预约系统小程序隐私保护指引：
			</view>
			<view class="set_left">
				本指引是新金马预约系统小程序开发者 "中山新金马科技有限公司"（以下简称“开发者”）为处理你的个人信息而制定。
			</view>
			<view class="set_left">1. 开发者处理的信息</view>
			<view>根据法律规定，开发者仅处理实现小程序功能所必要的信息。</view>
			<view>为了获取预约场地联系人姓名，开发者将在获取你的明示同意后，收集你的微信昵称、头像。</view>
			<view>为了获取预约场地联系人手机号码，开发者将在获取你的明示同意后，收集你的手机号。</view>
			<view class="set_left">2. 你的权益</view>
			<view>关于你的个人信息，你可以通过以下方式与开发者联系，行使查阅、复制、更正、删除等法定权利。</view>
			<view>邮箱：yy01@xjmyyxt.cn</view>
			<view class="set_left">3. 开发者对信息的存储</view>
			<view>开发者承诺，除法律法规另有规定外，开发者对你的信息的保存期限应当为实现处理目的所必要的最短时间。</view>
			<view class="set_left">4. 信息的使用规则</view>
			<view>4.1 开发者将会在本指引所明示的用途内使用收集的信息</view>
			<view>4.2 如开发者使用你的信息超出本指引目的或合理范围，开发者必须在变更使用目的或范围前，再次以弹出授权确认窗口方式告知并征得你的明示同意。</view>
			<view class="set_left">5. 信息对外提供</view>
			<view>5.1 开发者承诺，不会主动共享或转让你的信息至任何第三方，如存在确需共享或转让时，开发者应当直接征得或确认第三方征得你的单独同意。</view>
			<view>5.2 开发者承诺，不会对外公开披露你的信息，如必须公开披露时，开发者应当向你告知公开披露的目的、披露信息的类型及可能涉及的信息，并征得你的单独同意。</view>
			<view>你认为开发者未遵守上述约定，或有其他的投诉建议、或未成年人个人信息保护相关问题，可通过以下方式与开发者联系；或者向微信进行投诉。</view>
			<view>邮箱：yy01@xjmyyxt.cn</view>
			<view>更新日期：2022-08-11</view>
			<view>生效日期：2022-08-11</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style scoped lang="scss">
.privacy_policy{
	height: 100vh;
	background-color: #fff;
	.top{
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		> view:first-child {
			> view:first-child {
				font-size: 25px;
				font-weight: 900;
			}
			> view:nth-child(2) {
				font-size: 14px;
				color: #666;
				padding: 5px 0 10px 0;
				border-bottom: 1px solid #ececec;
			}
		}
		image{
			width: 80px;
			height: 80px;
		}
	}
	.content{
		width: 90%;
		margin: auto;
		font-size: 14px;
		> view:first-child {
			font-weight: 900;
			padding: 5px 0 10px 0;
		}
		>view{
			margin-left: 4vw;
			margin-bottom: 1vh;
		}
		.set_left{
			margin-left: 0 !important;
		}
	}
}
</style>
