<template>
	<view class="invoicing">
		<view class="list" v-for="item in invoicingList" :key="item.id">
			<view>
				<image src="../../static/img/invoicing_active.png" mode="" v-if="item.check"></image>
				<image src="../../static/img/invoicing.png" mode="" v-else></image>
			</view>
			<view @click="toCheck(item.id,item.check)">
				<view><image :src="item.icon" mode=""></image></view>
				<view class="set_text">
					<view>
						<text>{{ item.name }}</text>
						<text>￥{{ item.price }}</text>
					</view>
					<view>预约场地：{{ item.field }}</view>
					<view>预约时间：{{ item.time }}</view>
				</view>
			</view>
		</view>
		<view class="set_height">
			
		</view>
		<view class="btn">
			<view>
				<view>
					<text>合计：</text>
					<text>￥48.00</text>
				</view>
				<view>共10个</view>
			</view>
			<view><button type="default" @click="next">下一步</button></view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//发票数据列表
			invoicingList: [
				{ id: 1, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00',check:false },
				{ id: 2, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 3, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 4, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 5, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 6, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 7, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 8, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 9, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00' ,check:false},
				{ id: 10, icon: '../../static/img/home_nav5.png', name: '爱瑞特综合馆11', price: '16.10', field: '01号场地-早场', time: '2022-10-11 09:00-11:00',check:false }
			],
			//是否选中
			isCheck:false,
		};
	},
	methods: {
		//点击选中列表
		toCheck(id,val){
			this.invoicingList.forEach(item=>{
				if(item.id == id){
					item.check = !item.check
				}
			})
		},
		//下一步
		next(){
			uni.navigateTo({
				url: '/pages/invoiceInfo/invoiceInfo'
			});
		}
	}
};
</script>

<style scoped lang="scss">
.invoicing::-webkit-scrollbar {
	display: none;
}
.invoicing {
	background-color: #fff;
	height: 100vh;
	overflow: auto;
	.list {
		width: 90%;
		margin: 2vh auto;
		padding: 10px;
		background-color: #f8f8f8;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> view:first-child {
			image {
				width: 20px;
				height: 20px;
			}
		}
		> view:nth-child(2) {
			display: flex;
			width: 90%;
			.set_text {
				> view:first-child {
					display: flex;
					justify-content: space-between;
					font-weight: 900;
					font-size: 18px;
				}
				> view:nth-child(2) {
					color: #666;
					padding: 5px 0;
					font-size: 14px;
				}
				> view:nth-child(3) {
					color: #666;
					font-size: 14px;
				}
			}
			image {
				width: 30px;
				height: 30px;
				margin-right: 2vw;
			}
		}
	}
	.set_height{
		height: 60px;
	}
	.btn {
		position: fixed;
		bottom: 0px;
		background-color: #fff;
		width: 90%;
		left: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
		> view:first-child {
			> view:first-child {
				> text:first-child {
					font-weight: 600;
					font-size: 14px;
				}
				> text:nth-child(2) {
					font-size: 18px;
					font-weight: 900;
					color: #007AFF;
				}
			}
			> view:nth-child(2) {
				font-size: 14px;
				color: #666;
			}
		}
		> view:nth-child(2) {
			button{
				color: #fff;
				font-size: 16px;
				background-color: #5d6f90;
				padding: 0 30px;
			}
		}
	}
}
</style>
