<template>
	<view class="set_phone">
		<view class="row1">填写您的手机号</view>
		<view class="row2">请绑定手机号</view>
		<view class="row3">手机号</view>
		<view class="row6">
			<input type="text" v-model="phone" placeholder="请输入手机号..." />
		</view>
		<view class="btn">
			<button type="default" @click="updatePhone">保存</button>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			phone: '',
		};
	},
	methods: {
		updatePhone(){
			let data = {
				// nickName: '',
				// headImgUrl: '',
				phoneNumber: this.phone,
				// sexType: '',
				// age: '',
				// city: '',
				// remark: ''
			};
			this.$api.updataUserInfo(data, res => {
				console.log(res, '更新用户信息res');
			});
		},
		input() {}
	}
};
</script>
<style scoped lang="scss">
.set_phone {
	height: 100vh;
	background-color: #fff;
	>view{
		margin: auto;
		width: 90%;
	}
	.row1{
		padding: 10px;
		color: #666;
	}
	.row2{
		padding-bottom: 20px;
		font-size: 18px;
		font-weight: 900;
	}
	.row3{
		margin-bottom: 10px;
	}
	.row4{
		margin-bottom: 10px;
		input{
			border: 1px solid #007AFF;
			height: 40px;
			border-radius: 5px;
			padding: 0 10px;
			background-color: #f2f5ff;
		}
	}
	.row5{
		margin-bottom: 10px;
	}
	.row6{
		margin-bottom: 10px;
		input{
			height: 40px;
			border-radius: 5px;
			padding: 0 10px;
			background-color: #f8f8fa;
		}
	}
	.row7{
		margin-bottom: 10px;
	}
	.row8{
		margin-bottom: 10px;
		input{
			height: 40px;
			border-radius: 5px;
			padding: 0 10px;
			background-color: #f8f8fa;
		}
	}
	.btn{
		position: fixed;
		bottom: 1px;
		left: 5%;
		
		button{
			color: #fff;
			background-color: #5a7090;
		}
	}
}
</style>
