<template>
	<view class="bill_detail">
		<view class="card1">
			<view>订单交易-{{dataInfo.balanceTypeName}}</view>
			<view>-{{dataInfo.money}}</view>
			<view>交易成功</view>
			<view>
				<view>付款方式</view>
				<view>余额支付</view>
			</view>
			<view>
				<view>联系人方式</view>
				<view>
					<text>{{dataInfo.userName}}</text>
					<text>{{dataInfo.userPhoneNumber}}</text>
				</view>
			</view>
		</view>
		<view class="card2">
			<view v-for="item in billInfo" :key="item.id" :class="{set_border:item.id==6}">
				<view>{{item.name}}</view>
				<view>{{item.text}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				//账单信息
				billInfo:[
					{id:1,name:'订单号',text:'2022102400264'},
					{id:2,name:'订单创建时间',text:'2022-10-12 12:23:24'},
					{id:3,name:'支付时间',text:'2022-10-12 12:23:24'},
					{id:4,name:'订单说明',text:'场馆预定-爱瑞特综合馆'},
					{id:5,name:'邮箱',text:'user@USER.com'},
					{id:6,name:'账号',text:'CHEN0009'},
				],
				//账单id
				id:"",
				//页面信息
				dataInfo:{}
			}
		},
		onLoad(options) {
			this.id = options.id
			this.getData()
		},
		methods: {
			getData() {
				let data = {};
				let param = this.id;
				this.$api.getBalanceInfo(param, data, res => {
					console.log(res, '获取账目信息-res');
					this.dataInfo = res;
					// this.billInfo[0].text = this.dataInfo.
					this.billInfo[1].text = this.dataInfo.creationTimeStr
					this.billInfo[2].text = this.dataInfo.creationTimeStr
					// this.billInfo[3].text = this.dataInfo.
					this.billInfo[4].text = this.dataInfo.userEmail
					// this.billInfo[5].text = this.dataInfo.
				});
			}
		}
	}
</script>

<style scoped lang="scss">
.bill_detail{
	height: 100vh;
	background-color: #fff;
	.card1{
		width: 90%;
		margin: auto;
		padding: 10px;
		background-color: #f8f8f8;
		border-radius: 5px;
		> view:first-child {
			text-align: center;
			font-size: 12px;
			color: #666;
		}
		> view:nth-child(2) {
			text-align: center;
			font-size: 25px;
			font-weight: 900;
			padding: 5px 0;
		}
		> view:nth-child(3) {
			text-align: center;
			font-size: 12px;
			color: #0385ff;
			padding-bottom: 10px;
		}
		> view:nth-child(4) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0 5px 0;
			border-top: 1px solid #ececec;
			font-size: 14px;
			> view:first-child {
				color: #666;
			}
		}
		> view:nth-child(5) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 14px;
			color: #666;
			text:nth-child(2) {
				margin-left: 10px;
			}
			text{
				color: #000;
			}
		}
	}
	.card2{
		width: 90%;
		margin:2vh auto;
		padding: 5px 10px;
		background-color: #f8f8f8;
		border-radius: 5px;
		>view{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 14px;
			padding:10px;
			border-bottom: 1px solid #ececec;
			> view:first-child {
				font-weight: 900;
			}
			> view:nth-child(2) {
				color: #666;
			}
		}
		.set_border{
			border-bottom: 1px solid #f8f8f8 !important;
		}
	}
}
</style>
