<template>
	<view class="invoiceInfo">
		<view class="type1">
			<view>发票类型</view>
			<view><button type="default">增值税普通发票</button></view>
		</view>
		<view class="type2">
			<view>抬头类型</view>
			<view>
				<view v-for="(item, index) in typeList" :key="index" :class="{ set_type: index == activeId }" @click="toActive(index)">{{ item }}</view>
			</view>
		</view>
		<view class="header">
			<view>发票抬头</view>
			<view>
				<input type="text" value="" placeholder="请输入发票抬头..." />
				<view>
					<image src="../../static/img/invoice_icon1.png" mode=""></image>
					抬头薄
				</view>
			</view>
		</view>
		<view class="tax_num">
			<view>纳税号</view>
			<view><input type="text" value="" placeholder="请输入纳税号..." /></view>
		</view>
		<view class="email">
			<view>接收邮箱</view>
			<view><input type="text" value="" placeholder="请输入邮箱..." /></view>
		</view>
		<view class="phone">
			<view>接收手机</view>
			<view><input type="text" value="" placeholder="请输入手机号..." /></view>
		</view>
		<view class="more">
			<view>更多信息</view>
			<view><image src="../../static/img/invoice_icon2.png" mode=""></image></view>
		</view>
		<view class="address">
			<view>地址</view>
			<view><input type="text" value="" placeholder="请填写准确地址..." /></view>
		</view>
		<view class="blank">
			<view>开户银行</view>
			<view><input type="text" value="" placeholder="请填写购买方开户银行..." /></view>
		</view>
		<view class="account">
			<view>开户账号</view>
			<view><input type="text" value="" placeholder="请填写购买方开户账号..." /></view>
		</view>
		<view class="remarks">
			<view>备注说明</view>
			<view><textarea v-model="text" placeholder="请填写备注内容..." /></view>
		</view>
		<view class="set_height"></view>
		<view class="btn">
			<view>
				<view>
					<text>合计：</text>
					<text>￥48.00</text>
				</view>
				<view>共10个</view>
			</view>
			<view><button type="default" @click="next">下一步</button></view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			typeList: ['个人/事业单位', '单位'],
			activeId: 0
		};
	},
	methods: {
		toActive(val) {
			this.activeId = val;
		}
	}
};
</script>
<style scoped lang="scss">
.invoiceInfo::-webkit-scrollbar {
	display: none;
}
.invoiceInfo {
	height: 100vh;
	background-color: #fff;
	overflow: auto;
	.type1 {
		width: 90%;
		margin: auto;
		> view:first-child {
			font-size: 14px;
			padding: 10px 0;
		}
		> view:nth-child(2) {
			width: 160px;
			button {
				color: #4e9be6;
				background-color: #f3f6ff;
				border: 1px solid #4e9be6;
				font-size: 16px;
			}
		}
	}
	.type2 {
		width: 90%;
		margin: auto;
		> view:first-child {
			font-size: 14px;
			padding: 10px 0;
		}
		> view:nth-child(2) {
			display: flex;
			.set_type {
				color: #4e9be6;
				background-color: #f3f6ff !important;
				border: 1px solid #4e9be6;
			}
			> view {
				width: 160px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				background-color: #f8f8f8;
				margin-right: 10px;
				border-radius: 5px;
			}
		}
	}
	.header {
		width: 90%;
		margin: auto;
		> view:first-child {
			font-size: 14px;
			padding: 10px 0;
		}
		> view:nth-child(2) {
			background-color: #f8f8f8;
			height: 40px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 10px;
			> view {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: #666;
			}
			input {
				height: 40px;
				width: 200px;
			}
		}
		image {
			width: 15px;
			height: 15px;
			margin-right: 1vw;
		}
	}
	.tax_num,
	.email,
	.phone,
	.address,
	.blank,
	.account {
		width: 90%;
		margin: auto;
		> view:first-child {
			font-size: 14px;
			padding: 10px 0;
		}
		> view:nth-child(2) {
			background-color: #f8f8f8;
			height: 40px;
			padding: 0 10px;
			input {
				height: 40px;
			}
		}
	}
	.more {
		width: 90%;
		margin: 2vh auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 800;
		image {
			width: 15px;
			height: 10px;
		}
	}
	.remarks {
		width: 90%;
		margin: auto;
		> view:first-child {
			font-size: 14px;
			padding: 10px 0;
		}
		> view:nth-child(2) {
			background-color: #f8f8f8;
			height: 80px;
			padding: 10px;
			textarea {
				height: 80px;
			}
		}
	}
	.set_height {
		height: 100px;
	}
	.btn {
		position: fixed;
		bottom: 0px;
		background-color: #fff;
		z-index: 100;
		width: 90%;
		left: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
		> view:first-child {
			> view:first-child {
				> text:first-child {
					font-weight: 600;
					font-size: 14px;
				}
				> text:nth-child(2) {
					font-size: 18px;
					font-weight: 900;
					color: #007aff;
				}
			}
			> view:nth-child(2) {
				font-size: 14px;
				color: #666;
			}
		}
		> view:nth-child(2) {
			button {
				color: #fff;
				font-size: 16px;
				background-color: #5d6f90;
				padding: 0 30px;
			}
		}
	}
}
</style>
