<template>
	<view class="my_balance">
		<view class="top_info" style="background-image: url(../../static/img/balance_bg.png);background-size:cover;background-position: center center;">
			<view class="card_text">
				<view class="row1">
					<view>现金余额(元)</view>
					<view><button type="default" size="mini" plain @click="toMyBill">查询明细</button></view>
				</view>
				<view class="row2">
					<view>{{ balance }}</view>
				</view>
				<view class="row3">
					<view>
						<image src="../../static/img/balance_icon1.png" mode=""></image>
						使用说明
					</view>
				</view>
			</view>
		</view>
		<view class="recharge">
			<view class="title">余额充值</view>
			<view class="taocan1">
				<text>套餐一</text>
				<text>充值9折</text>
			</view>
			<view class="card_select">
				<view v-for="item in rechargeData" :key="item.id" :class="{ set_select: item.id == selsectId }" @click="toSelectPrice(item.id, item.price)">
					￥{{ item.price }}
				</view>
			</view>
			<view class="card_input">
				<view>自定义金额</view>
				<view><input type="text" v-model.number="priceValue" placeholder="请输入金额" @input="inputPrice" /></view>
			</view>
			<view class="taocan2">套餐二</view>
			<view class="pay">
				<view>
					<image src="../../static/img/balance_icon2.png" mode=""></image>
					充1000送100
				</view>
				<view><image src="../../static/img/my_jiantou.png" mode=""></image></view>
			</view>
		</view>
		<view class="btn"><button type="default" @click="toRecharge">立即充值</button></view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//充值面额选择
			rechargeData: [{ id: 1, price: '50' }, { id: 2, price: '100' }, { id: 3, price: '200' }, { id: 4, price: '300' }, { id: 5, price: '500' }, { id: 6, price: '800' }],
			selsectId: 1, //当前选择的充值价格
			balance: '', //余额
			price: 50, //选择的充值价格
			priceValue: '', //输入金额
			openId: ''
		};
	},
	created() {
		this.getData();
		this.openId = uni.getStorageSync('appInfo').openId;
	},
	methods: {
		getData() {
			let data = {};
			this.$api.getbalanceInfo(data, res => {
				console.log(res, '获取余额信息res');
				this.balance = res.balance;
			});
			let data1 = {
				MaxResultCount: 1000,
				SkipCount: 0
			};
			this.$api.getCouponPool(data1, res => {
				console.log(res, '获取充值优惠券列表res');
			});
		},
		//选择充值价格
		toSelectPrice(id, price) {
			this.selsectId = id;
			this.price = price * 1;
		},
		//输入金额
		inputPrice(e) {
			console.log(e.detail.value, '0000');
		},
		//点击选择明细
		toMyBill() {
			uni.navigateTo({
				url: '/pages/myBill/myBill'
			});
			// uni.requestSubscribeMessage({
			// 	 tmplIds: ['yfZOSA59GJ0ALKI4donhykcfQREcY3aHxcWH8HkU18A', 'RG7SNMW1EMoQE8pS1VIZRDz5rveaGBrGWgC22Xmkc8E', 'pAayv7TrTQK4GaufC142Zs3N54ay2aA2ylHJLgKGYfw'],
			// 	  success (res) {
			// 		  console.log(res,'支付消息模板res')
			// 	  }
			// })
		},
		//立即充值
		toRecharge() {
			console.log(uni.getStorageSync('checked'),'checked')
			// #ifndef H5
			if(uni.getStorageSync('checked')){
				let that = this
				uni.requestSubscribeMessage({
					tmplIds: ['yfZOSA59GJ0ALKI4donhykcfQREcY3aHxcWH8HkU18A', 'RG7SNMW1EMoQE8pS1VIZRDz5rveaGBrGWgC22Xmkc8E', 'pAayv7TrTQK4GaufC142Zs3N54ay2aA2ylHJLgKGYfw'],
					success(res) {
						console.log(res, '支付消息模板res');
						that.pay()
					}
				});
			}else{
				this.pay()
			}
			// #endif
			// #ifdef H5
			this.pay()
			// #endif
			// 
			// 
			// 
			// let data = {
			// 	money: this.priceValue ? this.priceValue : this.price
			// 	// couponPoolId: ''
			// };
			// this.$api.getRechargeBalance(data, res => {
			// 	console.log(res, '账目充值res');
			// 	let data = {
			// 		openId: this.openId,
			// 		orderId: res.id,
			// 		orderType: 1
			// 	};
			// 	this.$api.JsApiWxOpen(data, res => {
			// 		console.log(res, '小程序使用微信内部支付res');
			// 		let timeStamp = res.timestamp;
			// 		let nonceStr = res.nonceStr;
			// 		let packageStr = res.prepayIdPackage;
			// 		let paySign = res.signature;
			// 		this.toPayment(timeStamp, nonceStr, packageStr, paySign);
			// 	});
			// });
		},
		pay(){
			let data = {
				money: this.priceValue ? this.priceValue : this.price
				// couponPoolId: ''
			};
			this.$api.getRechargeBalance(data, res => {
				console.log(res, '账目充值res');
				// #ifndef H5
				let data = {
					openId: this.openId,
					orderId: res.id,
					orderType: 1
				};
				this.$api.JsApiWxOpen(data, res => {
					console.log(res, '小程序使用微信内部支付res');
					let timeStamp = res.timestamp;
					let nonceStr = res.nonceStr;
					let packageStr = res.prepayIdPackage;
					let paySign = res.signature;
					this.toPayment(timeStamp, nonceStr, packageStr, paySign);
				});
				// #endif
				// #ifdef H5
				console.log(uni.getStorageSync('openid'),"openid==============")
				let data1 = {
					openId:uni.getStorageSync('openid'),
					orderId: res.id,
					orderType: 1
				};
				this.$api.JsApi(data1, res => {
					console.log(res, '微信公众号使用微信内部支付res');
					let timeStamp = res.timestamp;
					let nonceStr = res.nonceStr;
					let packageStr = res.prepayIdPackage;
					let paySign = res.signature;
					this.toPayment(timeStamp, nonceStr, packageStr, paySign);
				});
				// #endif
			});
		},
		//支付
		toPayment(timeStamp, nonceStr, packageStr, paySign) {
			let that = this;
			// #ifndef H5
			wx.requestPayment({
				timeStamp: timeStamp,
				nonceStr: nonceStr,
				package: packageStr,
				signType: 'MD5',
				paySign: paySign,
				success(res) {
					console.log(res, '成功');
					that.getData();
				},
				fail(res) {
					console.log(res, '失败');
				}
			});
			// #endif
			// #ifdef H5
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				{
					// 下面参数内容都是后台返回的
					appId: 'wx42b8b87ce8098825', // 公众号名称，由商户传入
					timeStamp: timeStamp, // 时间戳
					nonceStr: nonceStr, // 随机串
					package: packageStr, // 预支付id
					signType: 'MD5', // 微信签名方式
					paySign: paySign // 微信签名
				},
				function(res) {
					console.log(res);
					if (res.err_msg == 'get_brand_wcpay_request:ok') {
						vm.$message.success('支付成功'); // 使用alert来弹窗 支付成功  是没有反应的。所以这里改为框架页面的弹窗就好了。注意必须要上这个微信浏览器内置事件外 转this指向才能弹窗
					} else if (res.err_msg == 'get_brand_wcpay_request:cancel') {
						alert('支付取消');
					} else {
						alert('付款失败');
					}
				}
			);
			// #endif
		}
	}
};
</script>

<style scoped lang="scss">
.my_balance {
	background-color: #fff;
	.top_info {
		width: 90%;
		height: 180px;
		margin: auto;
		.card_text {
			width: 80%;
			margin: auto;
			// background-color: #18BC37;
			color: #fff;
			padding-top: 22px;
			.row1 {
				button {
					border: 1px solid #d6d6d6;
					color: #fff;
					font-size: 12px;
					border-radius: 30px;
				}
			}
			.row2 {
				font-size: 30px;
				font-weight: 900;
				margin: 10px 0;
			}
			.row3 {
				font-size: 15px;
				> view {
					display: flex;
					align-items: center;
				}
			}
			> view {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			image {
				width: 15px;
				height: 15px;
				margin-right: 2vw;
			}
		}
	}
	.recharge {
		width: 90%;
		margin: auto;
		.title {
			font-weight: 900;
			font-size: 18px;
			margin: 10px 0;
		}
		.taocan1 {
			margin-bottom: 2vh;
			> text:first-child {
				font-weight: 900;
				margin-right: 4vw;
			}
			> text:nth-child(2) {
				background-color: #e9f2ff;
				color: #0385ff;
				padding: 3px 5px;
				font-size: 14px;
			}
		}
		.card_select {
			display: flex;
			flex-wrap: wrap;
			.set_select {
				width: 99px !important;
				height: 49px !important;
				background-color: #f1f7fe !important;
				color: #2088e2;
				border: 1px solid #2088e2;
			}
			> view {
				background-color: #f8f8fa;
				margin: 5px;
				width: 100px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				border-radius: 5px;
				font-weight: 900;
			}
		}
		.card_input {
			background-color: #f8f8fa;
			margin-top: 1vh;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			> view:first-child {
				font-weight: 900;
			}
			input {
				width: 100px;
			}
		}
		.taocan2 {
			font-weight: 900;
			margin: 20px 0 10px 0;
		}
		.pay {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #f8f8fa;
			padding: 20px;
			> view:first-child {
				display: flex;
				align-items: center;
				font-weight: 900;
				image {
					width: 20px;
					height: 20px;
					margin-right: 2vw;
				}
			}
			> view:nth-child(2) {
				image {
					width: 14px;
					height: 5px;
				}
			}
		}
	}
	.btn {
		width: 80%;
		margin: 2vh auto;
		height: 10vh;
		button {
			color: #fff;
			background-color: #5d6f90;
		}
	}
}
</style>
