<template>
	<view class="my">
		<view class="info" style="background-image: url(../../static/img/my_infobg.png);background-size: 100% 100%;">
			<view class="top">
				<view @click="toPersonalInfo">
					<view>
						<!-- <image src="../../static/img/my_toux.png" mode=""></image> -->
						<image :src="infoData.userHeadImgUrl" mode=""></image>
					</view>
					<view class="center">
						<view>{{ infoData.userFullName }}</view>
						<view>
							<view>菜鸟</view>
							<view>ID:0093042</view>
						</view>
					</view>
				</view>
				<view @click="toSetting"><image src="../../static/img/my_setting.png" mode=""></image></view>
			</view>
			<view class="bottom">
				<view @click="toWeekBalance">
					<text class="row1">余额(元)</text>
					<text class="row2">{{ balance }}</text>
				</view>
				<view @click="toVoucher">
					<text class="row1">卡券(张)</text>
					<text class="row2">{{ couponCount }}</text>
				</view>
			</view>
		</view>
		<view class="list">
			<!-- <view v-for="item in myList" :key="item.id" @click="toClickList(item.id)">
				<view>
					<view><image :src="item.icon" mode=""></image></view>
					<view>{{ item.name }}</view>
					<button style="background-color: #fff;" open-type="share" @click="toClickList(item.id)" >{{ item.name }}</button>
				</view>
				<view><image src="../../static/img/my_jiantou.png" mode=""></image></view>
			</view> -->
			<button open-type="share" @click="toClickList(4)">
				<view>
					<view><image src="../../static/img/my_list4.png" mode=""></image></view>
					<view>推荐给朋友</view>
					<!-- <button style="background-color: #fff;" open-type="share" @click="toClickList(item.id)" >{{ item.name }}</button> -->
				</view>
				<view><image src="../../static/img/my_jiantou.png" mode=""></image></view>
			</button>
			<button v-for="item in myList" :key="item.id" @click="toClickList(item.id)">
				<view>
					<view><image :src="item.icon" mode=""></image></view>
					<view>{{ item.name }}</view>
					<!-- <button style="background-color: #fff;" open-type="share" @click="toClickList(item.id)" >{{ item.name }}</button> -->
				</view>
				<view><image src="../../static/img/my_jiantou.png" mode=""></image></view>
			</button>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//列表
			myList: [
				// { id: 1, icon: '../../static/img/my_list1.png', name: '开具发票' },
				// { id: 2, icon: '../../static/img/my_list2.png', name: '企业合作服务' },
				// { id: 3, icon: '../../static/img/my_list3.png', name: '我要合作' },
				// { id: 4, icon: '../../static/img/my_list4.png', name: '推荐给朋友' },
				// { id: 5, icon: '../../static/img/my_list5.png', name: '在线客服' },
				// { id: 6, icon: '../../static/img/my_list6.png', name: '意见反馈' },
				{ id: 7, icon: '../../static/img/my_list7.png', name: '隐私政策' },
				{ id: 8, icon: '../../static/img/my_list8.png', name: '用户协议' }
			],
			//个人信息
			infoData: {},
			//余额
			balance: '',
			//卡券
			couponCount: ''
		};
	},
	created() {},
	onShow() {
		this.getData();
		if (!uni.getStorageSync('access_token')) {
			uni.navigateTo({
				url: '/pages/login/login'
			});
		}
	},
	methods: {
		getData() {
			let data = {};
			this.$api.getbalanceInfo(data, res => {
				console.log(res, '获取余额信息res');
				this.infoData.userFullName = res.userFullName;
				this.infoData.userHeadImgUrl = res.userHeadImgUrl ? res.userHeadImgUrl : '../../static/img/my_toux.png';
				this.infoData.userName = res.userName;
				this.infoData.userPhoneNumber = res.userPhoneNumber;
				this.infoData.userEmail = res.userEmail;
				this.infoData.sexType = res.sexType;
				this.infoData.age = res.age;
				this.infoData.city = res.city;
				this.infoData.remark = res.remark;
				uni.setStorageSync('infoData', this.infoData);
				this.balance = res.balance;
				this.couponCount = res.couponCount;
			});
		},
		//跳转余额
		toWeekBalance() {
			uni.navigateTo({
				url: '/pages/myBalance/myBalance'
			});
		},
		//跳转卡券
		toVoucher() {
			uni.switchTab({
				url: '/pages/voucher/voucher'
			});
		},
		//跳转设置页面
		toSetting() {
			uni.navigateTo({
				url: '/pages/mySetting/mySetting'
			});
		},
		//跳转修改个人资料
		toPersonalInfo() {
			uni.navigateTo({
				url: '/pages/personalInfo/personalInfo'
			});
		},
		toClickList(id) {
			if (id == 6) {
				uni.navigateTo({
					url: '/pages/feedback/feedback'
				});
			} else if (id == 1) {
				uni.navigateTo({
					url: '/pages/invoicing/invoicing'
				});
			} else if (id == 2) {
				uni.navigateTo({
					url: '/pages/enterpriseCooperation/enterpriseCooperation'
				});
			} else if (id == 3) {
				uni.navigateTo({
					url: '/pages/cooperation/cooperation'
				});
			} else if (id == 8) {
				uni.navigateTo({
					url: '/pages/userAgreement/userAgreement'
				});
			} else if (id == 7) {
				uni.navigateTo({
					url: '/pages/privacyPolicy/privacyPolicy'
				});
			} else if (id == 4) {
				// #ifndef H5
				uni.share({
					provider: 'weixin',
					scene: 'WXSceneSession',
					type: 5,
					imageUrl: 'https://sso.xjmyyxt.cn/upload/images/image/3a069fbc-32ff-be2f-bb18-cda62a7d1681_s.jpg',
					title: '欢迎体验',
					miniProgram: {
						// id: 'gh_abcdefg',
						path: 'pages/login/login',
						type: 0,
						webUrl: 'http://uniapp.dcloud.io'
					},
					success: ret => {
						console.log(JSON.stringify(ret), '成功');
					},
					fail: err => {
						console.log(JSON.stringify(err), '失败');
					}
				});
				// #endif
				// #ifdef H5
				// wx.ready(function() {
				// 	//需在用户可能点击分享按钮前就先调用
				// 	wx.updateAppMessageShareData({
				// 		title: '小球迷', // 分享标题
				// 		desc: '小球迷', // 分享描述
				// 		link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号 JS 安全域名一致
				// 		imgUrl: 'https://sso.xjmyyxt.cn/upload/images/image/3a069fbc-32ff-be2f-bb18-cda62a7d1681_s.jpg', // 分享图标
				// 		success: function(res) {
				// 			console.log(res, '分享好友 res');
				// 		},
				// 		cancel: function(res) {
				// 			console.log('分享失败');
				// 		}
				// 	});
				// });
				// WeixinJSBridge.on('menu:share:appmessage', function(argv) {
				// 	WeixinJSBridge.invoke(
				// 		'sendAppMessage',
				// 		{
				// 			appid: 'wx42b8b87ce8098825', //wx42b8b87ce8098825  wx2b4849f4afbff92e
				// 			img_url: '',
				// 			img_width: '200',
				// 			img_height: '200',
				// 			link: '',
				// 			desc: '描述信息',
				// 			title: '标题'
				// 		},
				// 		function(res) {
				// 			//_report('send_msg', res.err_msg);  // 这是回调函数，必须注释掉
				// 			console.log(res, '分享好友 res');
				// 		}
				// 	);
				// });
				WeixinJSBridge.invoke('sendAppMessage',{
				    "appid": "wx42b8b87ce8098825", //wx42b8b87ce8098825  wx2b4849f4afbff92e
				    "img_url": '',
				    "img_width": '200',
				    "img_height": '200',
				    "link": '',
				    "desc": "描述信息",
				    "title": '标题'
				}, function(res) {
				    //_report('send_msg', res.err_msg);  // 这是回调函数，必须注释掉
					console.log(res,"分享好友 res")
				})
				// #endif
			}
		}
	}
};
</script>

<style scoped lang="scss">
.my {
	.info {
		width: 100%;
		height: 170px;
		// background-color: #007AFF;
		.top {
			width: 90%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			padding: 20px 0;
			> view:first-child {
				display: flex;
				align-items: center;
				.center {
					> view:first-child {
						font-size: 20px;
						font-weight: 900;
						margin-bottom: 10px;
					}
					> view:nth-child(2) {
						display: flex;
						align-items: center;
						> view:first-child {
							margin-right: 2vw;
							padding: 2px 15px;
							color: #fff;
							border-top-left-radius: 15px;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
							border-bottom-left-radius: 5px;
							background-image: linear-gradient(
								to right,
								#6a87ad,
								#6e86a7,
								#778fb1,
								#758dae,
								#8398b7,
								#849ab9,
								#84a1be,
								#8ba3b8,
								#8da5bc,
								#92a6ba,
								#91a9be,
								#94a9bf,
								#94abbf,
								#96aec2,
								#97aec3,
								#99afc5,
								#98adc6,
								#9baec6,
								#9eafc3
							);
						}
						> view:nth-child(2) {
							color: #666;
						}
					}
				}
				image {
					width: 60px;
					height: 60px;
					margin-right: 4vw;
				}
			}
			> view:nth-child(2) {
				image {
					width: 20px;
					height: 22px;
				}
			}
		}
		.bottom {
			width: 70%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
			> view {
				display: flex;
				align-items: center;
			}
			.row1 {
				color: #666;
				margin-right: 10px;
			}
			.row2 {
				font-size: 20px;
				font-weight: 900;
			}
		}
	}
	.list {
		background-color: #fff;
		// > view {
		> button {
			background-color: #fff;
			// padding: 15px 0;
			padding: 5px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: auto;
			> view:first-child {
				display: flex;
				align-items: center;
				image {
					width: 20px;
					height: 20px;
					margin-right: 4vw;
				}
			}
			> view:nth-child(2) {
				image {
					width: 12px;
					height: 5px;
				}
			}
		}
	}
}
</style>
