<template>
	<view class="confirm_order">
		<view class="card_top">
			<view class="row1">{{ data.organizationName }}</view>
			<view class="row2">
				<text>{{ data.placeFullName }}</text>
				<text>{{ data.sportName }}</text>
				<text>{{ time }} {{ week }}</text>
			</view>
			<view class="row3">
				<view>{{ data.scheduleStartTimeStr }}-{{ data.scheduleEndTimeStr }}</view>
				<view>￥{{ data.price }}</view>
			</view>
			<view class="row4">
				<view>
					<view>
						<image src="../../static/img/conorder_icon1.png" mode=""></image>
						不支持退款
					</view>
					<view>
						<image src="../../static/img/conorder_icon2.png" mode=""></image>
						不支持改签
					</view>
				</view>
				<view>退改签须知</view>
			</view>
		</view>
		<view class="card_bottom">
			<view>联系人信息</view>
			<view>
				<view>{{ info.userPhoneNumber }}</view>
				<view>修改</view>
			</view>
		</view>
		<view class="youhui">
			<view>优惠活动</view>
			<view>
				<view>优惠卡券</view>
				<view>
					<view v-if="discountAmount">{{ discountAmount }}折</view>
					<view v-else>选择卡券</view>
					<view><image src="../../static/img/my_jiantou.png" mode=""></image></view>
				</view>
			</view>
		</view>
		<view class="btn">
			<view class="left">
				<view>
					<text>合计：</text>
					<text v-if="discountAmount">￥{{ (discountAmount * data.price).toFixed(2) }}</text>
					<text v-else>￥{{ data.price }}</text>
					<text>明细</text>
				</view>
				<view v-if="discountAmount">已优惠 ￥{{ (data.price - discountAmount * data.price).toFixed(2) }}</view>
				<view v-else>已优惠 ￥0</view>
			</view>
			<view class="right"><button type="default" @click="toPay">立即支付</button></view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			id: '', //排程id
			data: {}, //页面数据
			time: '', //时间
			week: '', //星期
			info: '', //个人信息
			openId: '',
			discountAmount: '', //优惠率
			minimumPrice: '', //满多少优惠
			yhPrice: '' //优惠多少
		};
	},
	onLoad(options) {
		console.log(options, 'options');
		this.id = options.id;
		this.time = options.timeValue;
		this.week = options.weekValue;
		this.getData();
		this.getInfo();

		// let aa = this.discountAmount * this.data.price
		// // this.yhPrice = this.data.price - aa
		// console.log(aa,"aaaaaaaaaa")
		// console.log(this.discountAmount,"this.discountAmount")
		// console.log(this.minimumPrice,"this.minimumPrice")
		// console.log(this.data.price,"this.data.price")
		// if(!aa){
		// 	this.yhPrice=0
		// 	console.log("000")
		// }else{
		// 	if(this.data.price>=this.minimumPrice){
		// 		this.yhPrice = this.data.price - aa
		// 		console.log(aa,"111")
		// 	}else{
		// 		this.yhPrice = 0
		// 		console.log("222")
		// 	}
		// }
	},
	created() {
		this.discountAmount = uni.getStorageSync('discountAmount');
		this.minimumPrice = uni.getStorageSync('minimumPrice');
		console.log(this.discountAmount, 'this.discountAmount');
		console.log(this.minimumPrice, 'this.minimumPrice');
		console.log(uni.getStorageSync('couponId'), 'this.couponId');
		this.openId = uni.getStorageSync('appInfo').openId;
	},
	methods: {
		getData() {
			let data = {};
			let param = this.id;
			this.$api.getPlaceScheduleInfo(param, data, res => {
				console.log(res, '获取排程信息-res');
				this.data = res;
			});
		},
		getInfo() {
			let data = {};
			this.$api.getbalanceInfo(data, res => {
				console.log(res, '获取个人信息res');
				this.info = res;
			});
		},
		//立即支付
		toPay() {
			// #ifndef H5
			if (uni.getStorageSync('checked')) {
				let that = this;
				uni.requestSubscribeMessage({
					tmplIds: ['yfZOSA59GJ0ALKI4donhykcfQREcY3aHxcWH8HkU18A', 'RG7SNMW1EMoQE8pS1VIZRDz5rveaGBrGWgC22Xmkc8E', 'pAayv7TrTQK4GaufC142Zs3N54ay2aA2ylHJLgKGYfw'],
					success(res) {
						console.log(res, '支付消息模板res');
						that.pay();
					}
				});
			} else {
				this.pay();
			}
			// #endif
			// #ifdef H5
			this.pay()
			// #endif
			//
			//
			//
			// var date = new Date();
			// console.log(uni.getStorageSync('couponId'),"pppp")
			// let data = {
			// 	userId: this.info.id,
			// 	placeScheduleItemWithDateId: this.id,
			// 	contactName: this.info.userFullName,
			// 	contactPhone: this.info.userPhoneNumber,
			// 	price: this.data.price,
			// 	creationTime: new Date(),//'2022-12-26T09:28:24.387Z',
			// 	// couponId: uni.getStorageSync('couponId'),
			// 	payType: 1//支付方式 0: 余额支付 1: 微信支付
			// };
			// if(uni.getStorageSync('couponId')){
			// 	data.couponId = uni.getStorageSync('couponId')
			// }
			// this.$api.confirmBooking(data, res => {
			// 	console.log(res, '提交预约-res');
			// 	let data = {
			// 		openId: this.openId,
			// 		orderId: res.id,
			// 		orderType: 0
			// 	};
			// 	this.$api.JsApiWxOpen(data, res => {
			// 		console.log(res, '小程序使用微信内部支付res');
			// 		let timeStamp = res.timestamp;
			// 		let nonceStr = res.nonceStr;
			// 		let packageStr = res.prepayIdPackage;
			// 		let paySign = res.signature;
			// 		this.toPayment(timeStamp, nonceStr, packageStr, paySign);
			// 	});
			// });
		},
		pay() {
			let data = {
				userId: this.info.id,
				placeScheduleItemWithDateId: this.id,
				contactName: this.info.userFullName,
				contactPhone: this.info.userPhoneNumber,
				price: this.data.price,
				creationTime: new Date(), //'2022-12-26T09:28:24.387Z',
				// couponId: uni.getStorageSync('couponId'),
				payType: 1 //支付方式 0: 余额支付 1: 微信支付
			};
			if (uni.getStorageSync('couponId')) {
				data.couponId = uni.getStorageSync('couponId');
			}
			this.$api.confirmBooking(data, res => {
				console.log(res, '提交预约-res');
				// #ifndef H5
				let data = {
					openId: this.openId,
					orderId: res.id,
					orderType: 0
				};
				this.$api.JsApiWxOpen(data, res => {
					console.log(res, '小程序使用微信内部支付res');
					let timeStamp = res.timestamp;
					let nonceStr = res.nonceStr;
					let packageStr = res.prepayIdPackage;
					let paySign = res.signature;
					this.toPayment(timeStamp, nonceStr, packageStr, paySign);
				});
				// #endif
				// #ifdef H5
				console.log(uni.getStorageSync('openid'),"openid==============")
				let data1 = {
					openId:uni.getStorageSync('openid'),
					orderId: res.id,
					orderType: 0
				};
				this.$api.JsApi(data1, res => {
					console.log(res, '微信公众号使用微信内部支付res');
					let timeStamp = res.timestamp;
					let nonceStr = res.nonceStr;
					let packageStr = res.prepayIdPackage;
					let paySign = res.signature;
					this.toPayment(timeStamp, nonceStr, packageStr, paySign);
				});
				// #endif
			});
		},
		//支付
		toPayment(timeStamp, nonceStr, packageStr, paySign) {
			let that = this;
			wx.requestPayment({
				timeStamp: timeStamp,
				nonceStr: nonceStr,
				package: packageStr,
				signType: 'MD5',
				paySign: paySign,
				success(res) {
					console.log(res, '成功');
				},
				fail(res) {
					console.log(res, '失败');
				}
			});
			// #ifdef H5
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				{
					// 下面参数内容都是后台返回的
					appId: 'wx42b8b87ce8098825', // 公众号名称，由商户传入
					timeStamp: timeStamp, // 时间戳
					nonceStr: nonceStr, // 随机串
					package: packageStr, // 预支付id
					signType: 'MD5', // 微信签名方式
					paySign: paySign // 微信签名
				},
				function(res) {
					console.log(res);
					if (res.err_msg == 'get_brand_wcpay_request:ok') {
						vm.$message.success('支付成功'); // 使用alert来弹窗 支付成功  是没有反应的。所以这里改为框架页面的弹窗就好了。注意必须要上这个微信浏览器内置事件外 转this指向才能弹窗
					} else if (res.err_msg == 'get_brand_wcpay_request:cancel') {
						alert('支付取消');
					} else {
						alert('付款失败');
					}
				}
			);
			// #endif
		}
	}
};
</script>

<style scoped lang="scss">
.confirm_order {
	background-color: #fff;
	position: relative;
	height: 100vh;
	.card_top {
		width: 90%;
		margin: auto;
		background-color: #f8f8f8;
		padding: 10px;
		.row1 {
			font-size: 20px;
			font-weight: 900;
		}
		.row2 {
			padding: 5px 0;
			color: #666;
			font-size: 14px;
			> text:first-child {
				padding-right: 10px;
			}
			> text:nth-child(2) {
				padding: 0 10px;
				border-right: 1px solid #dadada;
				border-left: 1px solid #dadada;
			}
			> text:nth-child(3) {
				padding-left: 10px;
			}
		}
		.row3 {
			margin-bottom: 1vh;
			> view:first-child {
				font-size: 20px;
				font-weight: 900;
			}
			> view:nth-child(2) {
				font-weight: 900;
				color: #0385ff;
			}
		}
		.row4 {
			font-size: 12px;
			border-top: 1px solid #dadada;
			padding-top: 10px;
			color: #666;
			> view:first-child {
				display: flex;
				align-items: center;
				> view {
					margin-right: 20px;
				}
			}
			image {
				width: 12px;
				height: 12px;
				margin-right: 2vw;
			}
		}
		.row1,
		.row3,
		.row4 {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	.card_bottom {
		width: 90%;
		margin: 2vh auto;
		background-color: #f8f8f8;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> view:first-child {
			font-weight: 900;
		}
		> view:nth-child(2) {
			display: flex;
			> view {
				margin-right: 20px;
			}
			> view:nth-child(2) {
				color: #0385ff;
			}
		}
	}
	.youhui {
		width: 90%;
		margin: 4vh auto;
		> view:first-child {
			font-size: 20px;
			font-weight: 900;
		}
		> view:nth-child(2) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #f8f8f8;
			padding: 10px;
			margin-top: 2vh;
			> view:first-child {
				font-weight: 900;
			}
			> view:nth-child(2) {
				display: flex;
				align-items: center;
				color: #666;
				font-size: 14px;
			}
		}
		image {
			width: 12px;
			height: 5px;
			margin-left: 2vw;
		}
	}
	.btn {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: absolute;
		bottom: 1px;
		border-top: 1px solid #dadada;
		padding-top: 5px;
		.left {
			text-align: center;
			> view:first-child {
				font-size: 14px;
				> text:first-child {
					font-weight: 600;
				}
				> text:nth-child(2) {
					font-size: 18px;
					font-weight: 900;
					color: #0385ff;
					margin-right: 2vw;
				}
				> text:nth-child(3) {
					color: #666;
				}
			}
			> view:nth-child(2) {
				font-size: 12px;
				color: #666;
			}
		}
		.right {
			button {
				color: #fff;
				background-color: #5d6f90;
				font-size: 14px;
			}
		}
	}
}
</style>
