<template>
	<view class="enterprise_cooperation">
		<view class="top">
			<view class="">
				<view>企业合作服务</view>
				<view>更新时间：2022-10-22</view>
			</view>
			<view class="">
				<image src="../../static/img/cooperation_icon.png" mode=""></image>
			</view>
		</view>
		<view class="content">
			<view>
				企业合作服务协议书：
			</view>
			<view >
				企业合作服务企业合作服务企业合作服务企业合作服务,企业合作服务企业合作服务,企业合作服务
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style scoped lang="scss">
.enterprise_cooperation{
	height: 100vh;
	background-color: #fff;
	.top{
		width: 90%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		> view:first-child {
			> view:first-child {
				font-size: 25px;
				font-weight: 900;
			}
			> view:nth-child(2) {
				font-size: 14px;
				color: #666;
				padding: 5px 0 10px 0;
				border-bottom: 1px solid #ececec;
			}
		}
		image{
			width: 80px;
			height: 80px;
		}
	}
	.content{
		width: 90%;
		margin: auto;
		font-size: 14px;
		> view:first-child {
			font-weight: 900;
			padding: 5px 0 10px 0;
		}
	}
}
</style>
