<template>
	<view class="voucher">
		<view class="nav">
			<view v-for="item in navList" :key="item.id" :class="{ set_nav: activeId == item.id }" @click="toSelectNav(item.id)">{{ item.name }}</view>
			<view @click="toWeekVoucher"><image src="../../static/img/voucher_nav.png" mode=""></image></view>
		</view>
		<view class="content">
			<view v-for="item in voucherList" :key="item.id" :class="set_bgimg[item.status]">
				<view class="left">
					<view>{{ item.discount }}</view>
					<view>满￥{{ item.minimumPrice }}使用</view>
				</view>
				<view class="right">
					<view>{{ item.tag }}</view>
					<view>{{ item.effectedTime }} 至 {{ item.expiredTime }}</view>
					<view>
						<view v-if="item.status == 2" @click="toGetVoucher(item.id)">
							立即领取
							<image src="../../static/img/voucher_icon.png" mode=""></image>
						</view>
						<view v-else-if="item.status == 1" @click="toUsedVoucher(item.id,item.discountAmount,item.minimumPrice)">
							去使用
							<image src="../../static/img/voucher_icon.png" mode=""></image>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="card" :class="{ set_show: isShow }" @click="toVoucher">
			<view>领取卡券</view>
			<view>卡券说明</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			activeId: -1, //当前选择的nav
			//卡券nav列表
			navList: [{ id: -1, name: '全部' }, { id: 1, name: '待使用' }, { id: 0, name: '已使用' }, { id: 3, name: '已过期' }],
			//卡券列表
			voucherList: [
				// { id: 1, price: '9折', detail: '折扣优惠券', title: '爱运动周末九折券', startTime: '2022-10-24', endTime: '2022-10-28', statu: 0 },
				// { id: 2, price: '￥100', detail: '满￥1000使用', title: '中秋活动充值返利券', startTime: '2022-10-24', endTime: '2022-10-28', statu: 1 }
			],
			//列表背景图样式数据
			set_bgimg: ['set_bgimg4', 'set_bgimg1', 'set_bgimg2', 'set_bgimg3'],
			//控制元素是否显示样式
			isShow: false,
			pageSize: 1000, //每页显示多少条记录
			page: 0, //跳过多少条记录
			totalCount: 0 ,//数据总数
			dataList:[],//分组数据
		};
	},
	onShow() {
		this.isShow = false;
		this.getData();
		if(!uni.getStorageSync('access_token')){
			uni.navigateTo({
				url: '/pages/login/login'
			});
		}
	},
	created() {
		this.getData();
	},
	// 触底加载
	// onReachBottom() {
	// 	if (this.totalCount >= this.page) {
	// 		this.page += this.pageSize;
	// 		this.getData();
	// 	}
	// },
	methods: {
		getData() {
			let data = {
				MaxResultCount: this.pageSize,
				SkipCount: this.page
			};
			this.$api.getCoupon(data, res => {
				console.log(res, '获取卡券列表res');
				res.items.forEach(item => {
					const date = new Date(item.expiredTimeStr);
					if (date.getTime() < Date.now()) {
						item.status = 3; //过期
					} else {
						if (item.activated) {
							if (item.used) {
								item.status = 0; //已使用
							} else {
								item.status = 1; //待使用
							}
						} else {
							item.status = 2; //待领取
						}
					}
					item.effectedTime = item.effectedTime.split('T')[0];
					item.expiredTime = item.expiredTime.split('T')[0];
				});
				this.voucherList = [...res.items];
				this.dataList = this.voucherList;
				console.log(this.dataList, 'dataList111111111111111111111');
				this.totalCount = res.totalCount;
			});
		},
		//选择卡券nav
		toSelectNav(id) {
			this.activeId = id;
			this.voucherList = [];
			if (id == 0) {
				this.dataList.forEach(item => {
					if (item.status == 0) {
						this.voucherList.push(item);
					}
				});
			} else if (id == 1) {
				this.dataList.forEach(item => {
					if (item.status == 1) {
						this.voucherList.push(item);
					}
				});
			} else if (id == 3) {
				this.dataList.forEach(item => {
					if (item.status == 3) {
						this.voucherList.push(item);
					}
				});
			} else if (id == -1) {
				this.voucherList = this.dataList;
			}
		},
		//去使用优惠券
		toUsedVoucher(id,discountAmount,minimumPrice){
			uni.navigateTo({
				url: `/pages/venueList/venueList?id=${id}&discountAmount=${discountAmount}&minimumPrice=${minimumPrice}`
			});
		},
		//点击领取优惠券
		toGetVoucher(id){
			let data = {
				couponPoolId:id
			};
			this.$api.toGetCoupon(data, res => {
				console.log(res,"领取优惠券res")
			})
		},
		//点击三点==>领取卡券和卡券说明
		toWeekVoucher() {
			this.isShow = !this.isShow;
			// setTimeout( (()=>{
			// 	this.isShow = false;
			// }), 1000 * 20 );
		},
		//领取卡券
		toVoucher() {
			uni.navigateTo({
				url: '/pages/getVoucher/getVoucher'
			});
		}
	}
};
</script>

<style scoped lang="scss">
.voucher {
	background-color: #fff;
	.nav {
		width: 95%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		.set_nav {
			border-bottom: 3px solid #007aff;
			font-weight: 800;
		}
		image {
			width: 3px;
			height: 15px;
		}
	}
	// .content::-webkit-scrollbar {
	// 	display: none;
	// }
	.content {
		width: 95%;
		// height: 90vh;
		margin: 2vh auto;
		// overflow: auto;
		// background-color: #18BC37;

		.set_bgimg1 {
			background-image: url(../../static/img/voucher_bg1.png);
			background-size: 100% 100%;
		}
		.set_bgimg2 {
			background-image: url(../../static/img/voucher_bg2.png);
			background-size: 100% 100%;
		}
		.set_bgimg3 {
			background-image: url(../../static/img/voucher_bg3.png);
			background-size: 100% 100%;
		}
		.set_bgimg4 {
			background-image: url(../../static/img/voucher_bg.png);
			background-size: 100% 100%;
		}
		> view {
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			margin: 15px 0;
			.left {
				// background-color: #DD524D;
				width: 33%;
				text-align: center;
				> view:first-child {
					font-size: 18px;
					font-weight: 900;
				}
				> view:nth-child(2) {
					font-size: 12px;
				}
			}
			.right {
				// background-color: #ffaa00;
				width: 65%;
				> view:first-child {
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 1vh;
				}
				> view:nth-child(2) {
					font-size: 14px;
					color: #666;
					margin-bottom: 10px;
				}
				> view:nth-child(3) {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					font-size: 14px;
					> view {
						display: flex;
						align-items: center;
					}
				}
				image {
					width: 12px;
					height: 5px;
					margin-left: 2vw;
				}
			}
		}
	}
	.set_show {
		display: inline !important;
	}
	.card {
		display: none;
		background-color: #f8f8fa;
		position: fixed;
		top: 35px;
		right: 5px;
		width: 100px;
		border-radius: 5px;
		border: 1px solid #dadada;
		text-align: center;
		> view:first-child {
			border-bottom: 1px solid #dadada;
		}
		> view {
			padding: 10px 0;
		}
	}
}
</style>
