<template>
	<view class="my_setting">
		<view class="set_height"></view>
		<view class="card1">
			<view v-for="item in cardData1" :key="item.id" :class="{ set_border: item.id == 4 }" @click="toClickRow(item.id)">
				<view>{{ item.name }}</view>
				<view>
					{{ item.text }}
					<image src="../../static/img/my_jiantou.png" mode=""></image>
				</view>
			</view>
		</view>
		<view class="card1">
			<view v-for="item in cardData2" :key="item.id" :class="{ set_border: item.id == 2 }">
				<view>{{ item.name }}</view>
				<view><switch :checked="item.checked" color="#0386fe" style="transform:scale(0.7)" @change="switch1Change(item.id, item.checked)" /></view>
			</view>
		</view>
		<view class="card1">
			<view v-for="item in cardData3" :key="item.id" :class="{ set_border: item.id == 3 }" @click="handle(item.id)">
				<view>{{ item.name }}</view>
				<view>
					{{ item.text }}
					<image src="../../static/img/my_jiantou.png" mode=""></image>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			cardData1: [
				{ id: 1, name: '绑定手机', text: '186****0123' },
				{ id: 2, name: '登录密码', text: '未设置' },
				{ id: 3, name: '绑定微信', text: 'win_9879' },
				{ id: 4, name: '账号注销', text: '' }
			],
			cardData2: [{ id: 1, name: '消息通知', checked: false }, { id: 2, name: '首页推荐球馆设置', checked: true }],
			cardData3: [{ id: 1, name: '关于小球迷', text: '' }, { id: 2, name: '升级最新版本', text: '' }, { id: 3, name: '清理缓存', text: '1.2M' }]
		};
	},
	created() {
		this.cardData1[0].text = uni.getStorageSync('infoData').userPhoneNumber;
	},
	onLoad() {
		this.getStorageSize();
		this.cardData2[0].checked = uni.getStorageSync('checked');
	},
	methods: {
		//点击行
		toClickRow(id) {
			if (id == 2) {
				uni.navigateTo({
					url: '/pages/setPassword/setPassword'
				});
			} else if (id == 1) {
				uni.navigateTo({
					url: '/pages/setPhone/setPhone'
				});
			}
		},
		//清除缓存
		handle(id) {
			if (id == 3) {
				uni.clearStorage();
				let that = this;
				uni.showToast({
					title: '清除成功!',
					icon: 'none',
					success() {
						that.getStorageSize();
					}
				});
				// // #ifdef APP-PLUS
				// let that = this;
				// //使用plus.cache.clear 清除应用中的缓存数据
				// plus.cache.clear(function() {
				// 	uni.showToast({
				// 		title: '清除成功!',
				// 		icon: 'none',
				// 		success() {
				// 			that.cardData3[2].text = '0B';
				// 		}
				// 	});
				// });
				// // #endif
				// let os = plus.os.name;
				// if (os == 'Android') {
				// 	let main = plus.android.runtimeMainActivity();
				// 	let sdRoot = main.getCacheDir();
				// 	let files = plus.android.invoke(sdRoot, 'listFiles');
				// 	let len = files.length;
				// 	console.log(files, len);
				// 	for (let i = 0; i < len; i++) {
				// 		let filePath = '' + files[i]; // 没有找到合适的方法获取路径，这样写可以转成文件路径
				// 		plus.io.resolveLocalFileSystemURL(
				// 			filePath,
				// 			function(entry) {
				// 				if (entry.isDirectory) {
				// 					entry.removeRecursively(
				// 						function(entry) {
				// 							//递归删除其下的所有文件及子目录
				// 							that.files = [];
				// 							uni.showToast({
				// 								title: '清除成功',
				// 								duration: 2000
				// 							});
				// 							that.getStorageSize(); // 重新计算缓存
				// 						},
				// 						function(e) {
				// 							console.log(e.message);
				// 						}
				// 					);
				// 				} else {
				// 					entry.remove();
				// 				}
				// 			},
				// 			function(e) {
				// 				console.log('文件路径读取失败');
				// 			}
				// 		);
				// 	}
				// } else {
				// 	// ios
				// 	plus.cache.clear(function() {
				// 		uni.showToast({
				// 			title: '清除成功',
				// 			duration: 2000
				// 		});
				// 		that.getStorageSize();
				// 	});
				// }
			}
		},
		// 获取本地缓存大小
		getStorageSize() {
			let that = this;
			uni.getStorageInfo({
				success: function(res) {
					console.log(res.keys);
					console.log(res.currentSize);
					console.log(res.limitSize);
					that.cardData3[2].text = res.currentSize + 'KB';
				}
			});
			// // #ifdef APP-PLUS
			// let that = this;
			// plus.cache.calculate(function(size) {
			// 	let sizeCache = parseInt(size);
			// 	if (sizeCache == 0) {
			// 		that.cardData3[2].text = '0B';
			// 	} else if (sizeCache < 1024) {
			// 		that.cardData3[2].text = sizeCache + 'B';
			// 	} else if (sizeCache < 1048576) {
			// 		that.cardData3[2].text = (sizeCache / 1024).toFixed(2) + 'KB';
			// 	} else if (sizeCache < 1073741824) {
			// 		that.cardData3[2].text = (sizeCache / 1048576).toFixed(2) + 'MB';
			// 	} else {
			// 		that.cardData3[2].text = (sizeCache / 1073741824).toFixed(2) + 'GB';
			// 	}
			// });
			// // #endif
		},
		switch1Change(id, checked) {
			console.log(id, 'id');
			console.log(checked, 'checked');
			this.cardData2[id - 1].checked = !checked;
			console.log(this.cardData2, 'cardData2');
			uni.setStorageSync('checked', this.cardData2[0].checked);
		}
	}
};
</script>

<style scoped lang="scss">
.my_setting {
	.set_height {
		height: 2vh;
	}
	background-color: #fff;
	height: 100vh;
	.card1 {
		width: 90%;
		margin: auto;
		background-color: #f2f2f3;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 2vh;
		.set_border {
			border-bottom: 1px solid #f2f2f3;
		}
		> view {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			border-bottom: 1px solid #dcdcdc;
			> view:first-child {
				font-weight: 900;
			}
			> view:nth-child(2) {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: #666;
			}
		}
		image {
			width: 14px;
			height: 5px;
			margin-left: 3vw;
		}
	}
}
</style>
