<template>
	<view class="my_bill">
		<view class="list" v-for="(item, index) in billList" :key="index">
			<view class="date">
				{{ item.date }}
				<image src="../../static/img/venue_sanjiaohui.png" mode=""></image>
			</view>
			<view class="row" v-for="ele in item.dateList" :key="ele.id" @click="toBillDetail(ele.id)">
				<view>
					<view>{{ ele.balanceTypeName }}</view>
					<view v-if="ele.balanceType != 6">-{{ ele.money }}</view>
					<view v-else>+{{ ele.money }}</view>
				</view>
				<view>
					<view>{{ ele.creationTimeStr }}</view>
					<!-- <view>{{ ele.balanceStatusName }}</view> -->

					<view v-if="ele.balanceType != 6" class="jian">{{ ele.balanceStatusName }}</view>
					<view v-else class="jia">{{ ele.balanceStatusName }}</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//账单列表
			billList: [],
			pageSize: 1000, //每页显示多少条记录
			page: 0, //跳过多少条记录
			totalCount: 0, //数据总数
			//
			arr: [],
			arr1:[],
			objArr:[]
		};
	},
	created() {
		this.getData();
	},
	// 触底加载
	// onReachBottom() {
	// 	// if (this.totalCount >= this.page) {
	// 	// 	this.page += this.pageSize;
	// 	// 	this.getData();
	// 	// }
	// 	console.log('9999');
	// },
	methods: {
		getData() {
			let data = {
				MaxResultCount: this.pageSize,
				SkipCount: this.page
			};
			this.$api.getBalance(data, res => {
				console.log(res, '获取账目列表res');
				this.totalCount = res.totalCount;
				res.items.forEach(item => {
					this.arr1.push(item.creationDateStr);
				});
				this.arr = new Set(this.arr1);
				console.log(this.arr, 'this.arr');
				// let objArr = []
				this.arr.forEach(item => {
					let obj = { id: item, date: item, dateList: [] };
					this.objArr.push(obj);
				});
				console.log(this.objArr, 'this.this.objArr');
				this.objArr.forEach(item=>{
					res.items.forEach(ele => {
						if(item.date==ele.creationDateStr){
							item.dateList.push(ele);
						}
					})
				})
				this.billList = this.objArr
				// res.items.forEach(item => {
				// 	this.billList.forEach(ele => {
				// 		if (item.creationDateStr == ele.date) {
				// 			ele.dateList.push(item);
				// 		}
				// 	});
				// });
				// console.log(this.billList, 'this.222222222');

				// res.items.forEach(item => {
				// 	this.arr.push(item.creationDateStr);
				// });
				// console.log(this.arr, 'this.arr');
				// let arr1 = new Set(this.arr);
				// console.log(arr1, 'arr1---res');
				// // let data = [];
				// arr1.forEach((item, index) => {
				// 	let obj = { id: index, date: item, dateList: [] };
				// 	this.billList.push(obj);
				// });
				// res.items.forEach(item => {
				// 	this.billList.forEach(ele => {
				// 		if (item.creationDateStr == ele.date) {
				// 			ele.dateList.push(item);
				// 		}
				// 	});
				// });
				// this.billList = data;
				// // this.billList = [...this.billList, ...data];
				// this.totalCount = res.totalCount;

				// let arr = [];
				// res.items.forEach(item => {
				// 	arr.push(item.creationDateStr);
				// });
				// let arr1 = new Set(arr);
				// let data = [];
				// arr1.forEach((item, index) => {
				// 	let obj = { id: index, date: item, dateList: [] };
				// 	data.push(obj);
				// });
				// //
				// res.items.forEach(item => {
				// 	data.forEach(ele => {
				// 		if (item.creationDateStr == ele.date) {
				// 			ele.dateList.push(item);
				// 		}
				// 	});
				// });
				// console.log(data, '=============data');
				// // this.billList = data;
				// this.billList = [...this.billList, ...data];
			});
		},
		//点击跳转账单详情
		toBillDetail(id) {
			uni.navigateTo({
				url: `/pages/billDetail/billDetail?id=${id}`
			});
		}
	}
};
</script>

<style scoped lang="scss">
// .my_bill::-webkit-scrollbar {
// 	display: none;
// }
.my_bill {
	// height: 100vh;
	// overflow: auto;
	background-color: #fff;

	.list {
		width: 90%;
		margin: 2vh auto;

		.date {
			font-weight: 900;
			font-size: 18px;
			margin: 10px 0;
			image {
				width: 10px;
				height: 10px;
				margin-left: 2vw;
			}
		}
		.row {
			width: 90%;
			margin: 2vh auto;
			background-color: #f8f7fc;
			padding: 20px;
			> view {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			> view:first-child {
				font-size: 18px;
				font-weight: 900;
				margin-bottom: 5px;
			}
			> view:nth-child(2) {
				font-size: 16px;
				color: #666;
			}
			.jian {
				color: #0385ff;
			}
			.jia {
				color: #e18464;
			}
		}
	}
}
</style>
