<template>
	<view class="reserve_detail">
		<view class="screen">
			<view v-for="item in screenList" :key="item.id" @click="toActive(item.id)">
				<picker @change="toChange(item.id, $event)" :range="item.typeArray">
					<label class="label_flex">
						{{ item.value }}
						<image v-if="item.id == activeId" src="../../static/img/venue_sanjiao.png" mode="" class="label_icon"></image>
						<image v-else class="label_icon" src="../../static/img/venue_sanjiaohui.png" mode=""></image>
					</label>
				</picker>
			</view>
		</view>
		<view class="reserve_time">
			<scroll-view class="scrollContainer" scroll-x>
				<view class="scrollitem" v-for="item in reserveTime" :key="item.id" :class="{ set_active: item.id == activeTime }" @click="toSelectTime(item.id, item.time,item.week)">
					<view>{{ item.week }}</view>
					<view :class="{ set_color: item.id == activeTime }">{{ item.date }}</view>
				</view>
			</scroll-view>
		</view>
		<view class="list">
			<view v-for="item in reserveList" :key="item.id" @click="toPay(item.id,item.status)">
				<view class="row1">
					<view :class="{ row_statu: item.status !== 0 }">
						<text>{{ item.scheduleName }}</text>
						<text>{{ item.placeFullName }}</text>
						<text>{{ item.sportName }}</text>
					</view>
					<view class="row_statu2" :class="{ row_statu1: item.status == 0 }" v-for="ele in statusList" :key="ele.id" v-if="ele.id == item.status">{{ ele.name }}</view>
					<!-- <view class="row_statu1"  v-if="item.status==1">
						可预订
					</view>
					<view class="row_statu2" v-else-if="item.status==2">
						已预订
					</view> -->
				</view>
				<view class="row2" :class="{ row_statuss: item.status !== 0 }">
					<view :class="{ statu_color: item.status !== 0 }">{{ item.scheduleStartTimeStr }}-{{ item.scheduleEndTimeStr }}</view>
					<view :class="{ statu_color: item.status !== 0 }">￥{{ item.price }}</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			screenList: [
				{ id: 1, typeArray: ['1号场地', '2号场地', '3号场地', '4号场地'], activeId: 0, value: '1号场地' },
				{ id: 2, typeArray: ['羽毛球', '篮球', '足球', '网球'], activeId: 0, value: '羽毛球' },
				{ id: 3, typeArray: ['不限时间', '今天', '明天', '后天'], activeId: 0, value: '不限时间' }
			],
			activeId: 1, //当前点击的筛选条件nav
			activeTime: 0, //当前点击的预订时间
			timeValue: '', //当前点击的时间值
			weekValue:"",//当前点击的星期值
			venueName:"",//场馆名
			//状态列表
			statusList: [
				{ id: 0, name: '正常安排' },
				{ id: 1, name: '已锁定' },
				{ id: 2, name: '已预定' },
				{ id: 3, name: '暂停预约' },
				{ id: 4, name: '维护中' },
				{ id: 5, name: '已关闭' }
			],
			//预定时间列表
			reserveTime: [
				// { id: 1, name: '今天', date: '10-25' },
				// { id: 2, name: '明天', date: '10-26' },
				// { id: 3, name: '星期五', date: '10-27' },
				// { id: 4, name: '星期六', date: '10-28' },
				// { id: 5, name: '星期天', date: '10-29' },
				// { id: 6, name: '星期一', date: '10-30' },
				// { id: 7, name: '星期二', date: '10-31' }
			],
			//预订列表数据
			reserveList: [
				// { id: 1, sessions: '早场', field: '1号球场', type: '羽毛球', status: 1, starTime: '9:00', endTime: '11:00', price: '48.00' },
				// { id: 2, sessions: '午场', field: '2号球场', type: '羽毛球', status: 2, starTime: '15:00', endTime: '17:00', price: '48.00' },
				// { id: 3, sessions: '晚场', field: '3号球场', type: '羽毛球', status: 0, starTime: '19:00', endTime: '21:00', price: '48.00' }
			]
		};
	},
	onLoad(options) {
		console.log(options, 'options');
		uni.setNavigationBarTitle({
			title: options.name
		});
		this.venueName = options.name;
		this.activeTime = options.id;
		this.timeValue = options.time;
		this.weekValue = options.week;
		this.getReserveTime();
		this.getDataList();
		if(!uni.getStorageSync('access_token')){
			uni.navigateTo({
				url: '/pages/login/login'
			});
		}
	},
	methods: {
		// 获取排程列表
		getDataList() {
			let data = {
				StartDate: this.timeValue,
				EndDate: this.timeValue
			};
			this.$api.getPlaceSchedule(data, res => {
				console.log(res, '获取排程列表res');
				this.reserveList = res;
			});
			// let params = {
			// 	StartDate:"2022-12-16",
			// 	EndDate:"2022-12-20"
			// }
			// uni.request({
			// 	url: 'https://www.xjmyyxt.cn/api/place-schedule-with-date',
			// 	method: 'GET',
			// 	data: params,
			// 	header: {'Authorization': 'Bearer ' + uni.getStorageSync('access_token')},
			// 	success: res => {
			// 		console.log(res, '获取排程列表res');

			// 	},
			// 	fail: err => {}
			// });
		},
		//预定时间列表
		getReserveTime() {
			var date = new Date();
			var base = new Date(date).getTime();
			var oneDay = 24 * 3600 * 1000;
			var date = [];
			var data = [Math.random() * 300];
			var time = new Date(base);
			date.push([time.getFullYear(), time.getMonth() + 1, time.getDate()].join('-'));
			// date.push([ time.getMonth() + 1, time.getDate()].join('-'));
			for (var i = 1; i < 7; i++) {
				//控制需要的天数
				var now = new Date((base += oneDay)); //这里控制往前一周还是往后一周
				date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'));
				// date.push([now.getMonth() + 1, now.getDate()].join('-'));
				data.push(Math.round((Math.random() - 0.5) * 20 + data[i - 1]));
			}
			// var newdate = date.reverse(); //往后一周的话需要将数组倒叙，完后不需要
			let weekArrayList = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
			let week = [];
			date.forEach((item, index) => {
				let arr = item.split('-');
				let date = arr[1] + '-' + arr[2];
				week.push({ id: index, week: weekArrayList[new Date(item).getDay()], date: date, time: item });
			});
			// console.log(date,"============")
			console.log(week, '============');
			week[0].week = '今天';
			this.reserveTime = week;
		},
		toChange(id, e) {
			this.screenList.forEach(item => {
				if (item.id == id) {
					item.activeId = e.target.value;
					item.value = item.typeArray[item.activeId];
				}
			});
		},
		//点击筛选nav
		toActive(id) {
			this.activeId = id;
		},
		//点击选择预定时间
		toSelectTime(id, time,week) {
			this.activeTime = id;
			this.timeValue = time;
			this.weekValue = week;
			this.getDataList()
		},
		//去预订
		// toPay(status,placeFullName,sportName,scheduleStartTimeStr,scheduleEndTimeStr,price) {
			toPay(id,status) {
			if (status == 0) {
				uni.navigateTo({
					url: `/pages/confirmOrder/confirmOrder?id=${id}&timeValue=${this.timeValue}&weekValue=${this.weekValue}`
					// url: `/pages/confirmOrder/confirmOrder?venueName=${this.venueName}&placeFullName=${placeFullName}&sportName=${sportName}&scheduleStartTimeStr=${scheduleStartTimeStr}&scheduleEndTimeStr=${scheduleEndTimeStr}&price=${price}&timeValue=${this.timeValue}&weekValue=${this.weekValue}`
				});
			}
		}
	}
};
</script>

<style scoped lang="scss">
.reserve_detail {
	background-color: #fff;
	.screen {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: auto;
		> view {
			.label_flex {
				display: flex;
				align-items: center;
				font-weight: 900;
			}
			.label_icon {
				width: 8px;
				height: 8px;
				margin-left: 5px;
			}
		}
	}
	.reserve_time {
		width: 90%;
		margin: 2vh auto;
		.scrollContainer {
			white-space: nowrap;
			width: 100%;
			margin: 0 auto;
			.scrollitem {
				display: inline-block;
				text-align: center;
				margin-right: 3vw;
				background-color: #f8f8fa;
				padding: 10px 20px;
				border-radius: 5px;
				> view:first-child {
					font-size: 16px;
					font-weight: 900;
				}
				> view:nth-child(2) {
					font-size: 12px;
					color: #666;
					padding-top: 8px;
				}
				.set_color {
					color: #fff !important;
				}
			}
			.set_active {
				background-color: #5c7090 !important;
				color: #fff !important;
			}
		}
	}
	.list::-webkit-scrollbar {
		display: none;
	}
	.list {
		width: 90%;
		margin: 4vh auto;
		height: 90vh;
		overflow: auto;
		.row_statu {
			color: #969696 !important;
		}
		.row_statuss {
			color: #969696 !important;
		}
		> view {
			background-color: #f8f7fc;
			padding: 20px;
			margin-bottom: 2vh;
			border-radius: 5px;
			.row1 {
				margin-bottom: 2vh;
				> view:first-child {
					text:first-child {
						margin-right: 2vw;
						font-weight: 900;
					}
					> text:nth-child(2) {
						color: #666;
						padding-right: 2vw;
						border-right: 1px solid #e2e1e5;
					}
					> text:nth-child(3) {
						padding-left: 2vw;
						color: #666;
					}
				}
				.row_statu1 {
					background-color: #e9f2ff !important;
					color: #0385ff !important;
					// padding: 4px 8px;
					// font-size: 12px;
				}
				.row_statu2 {
					background-color: #d3d4df;
					color: #fff;
					padding: 4px 8px;
					font-size: 12px;
				}
			}
			.row2 {
				.statu_color {
					color: #bcbdc4 !important;
				}
				> view:first-child {
					font-size: 30px;
					font-weight: 900;
				}
				> view:nth-child(2) {
					font-size: 18px;
					font-weight: 800;
					color: #0385ff;
				}
			}
		}
		> view > view {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
</style>
