<template>
	<view class="venue_list">
		<view class="screen">
			<view v-for="item in screenList" :key="item.id" @click="toActive(item.id)">
				<picker @change="toChange(item.id,$event)" :range="item.typeArray">
					<label class="label_flex">
						{{ item.value }}
						<image v-if="item.id == activeId" src="../../static/img/venue_sanjiao.png" mode="" class="label_icon"></image>
						<image v-else class="label_icon" src="../../static/img/venue_sanjiaohui.png" mode=""></image>
					</label>
				</picker>
			</view>
		</view>
		<!-- <view class="tag">
			<view v-for="(item,inxde) in tagList" :key="index">
				{{item}}
			</view>
		</view> -->
		<view class="list">
			<view v-for="item in venueList" :key="item.id" @click="toVenueDetail(item.id)">
				<view class="youhui" v-if="item.isPromoting">
					<image src="../../static/img/venue_yh.png" mode=""></image>
					优惠
				</view>
				<view class="left">
					<image :src="item.bannerImage" mode=""></image>
				</view>
				<view class="right">
					<view >
						{{item.name}}
					</view>
					<view class="row1">
						<view><image v-for="(xing,index) in item.stars" :key="index" src="../../static/img/venue_xing.png" mode=""></image></view>
						<view>{{item.stars}}.0</view>
						<view>{{item.comments.length}}条评论</view>
					</view>
					<view class="row2">
						<view>{{item.cityName}}</view>
						<view>
							<image src="../../static/img/weizhi.png" mode=""></image>
							<text>{{item.location}}</text>
						</view>
					</view>
					<view class="row3">
						<view v-for="(tag,index) in item.serviceTag" :key="index">{{tag}}</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//区域选择数据
			regionTypeArray: ['全部区域', '长沙', '上海', '广州', '北京'],
			//当前选择的区域数据
			regionIndex: 0,
			region: '全部区域',
			screenList: [
				{ id: 1, typeArray: ['全部区域'], activeId: 0, value: '全部区域' },
				{ id: 2, typeArray: ['不限时间'], activeId: 0, value: '不限时间' },
				{ id: 3, typeArray: ['体育类型'], activeId: 0, value: '体育类型' },
				{ id: 4, typeArray: ['筛选'], activeId: 0, value: '筛选' }
			],
			activeId: 1, //当前点击的筛选条件nav
			//标签数据
			tagList: ['停车场', '独立更衣室', '免费停车', '独立更衣室'],
			//场馆列表
			venueList: [
				// {id:1,img:"../../static/img/home_venue1.png",title:"爱瑞特综合馆",praiseNum:5,commentNum:24,region:'长沙市',address:"韶山南路134号",tag:['免费停车','塑胶地板'],discount:true},
				// {id:2,img:"../../static/img/home_venue2.png",title:"爱瑞特综合馆",praiseNum:4,commentNum:24,region:'长沙市',address:"韶山南路134号",tag:['免费停车','塑胶地板'],discount:true},
				// {id:3,img:"../../static/img/home_venue3.png",title:"爱瑞特综合馆",praiseNum:5,commentNum:24,region:'长沙市',address:"韶山南路134号",tag:['免费停车','塑胶地板'],discount:false},
				// {id:4,img:"../../static/img/home_venue4.png",title:"爱瑞特综合馆",praiseNum:5,commentNum:24,region:'长沙市',address:"韶山南路134号",tag:['免费停车','塑胶地板'],discount:false},
			],
			pageSize: 10, //每页显示多少条记录
			page: 0, //跳过多少条记录
			totalCount: 0, //数据总数
			sport: '' ,//筛选条件-体育类型
			couponId:"",
			discountAmount:"",
			minimumPrice:""
		};
	},
	created() {
		let sportList = uni.getStorageSync('sportList');
		console.log(sportList, 'sportList');
		sportList.forEach(item => {
			this.screenList[2].typeArray.push(item.name);
		});
	},
	onLoad(options) {
		console.log(options,"00000000000000----");
		this.couponId = options.id
		this.discountAmount = options.discountAmount
		this.minimumPrice = options.minimumPrice
		
		if(options.name){
			this.screenList[2].value = options.name;
			this.sport = options.name;
			let array = this.screenList[2].typeArray;
			var indexOf = (array || []).findIndex(item => item === options.name);
			this.screenList[2].activeId = indexOf
		}
		
		this.getOrganizationData(); //获取场馆列表
	},
	// 触底加载
	onReachBottom() {
		if (this.totalCount >= this.page) {
			this.page += this.pageSize;
			this.getOrganizationData();
		}
		console.log('0000');
	},
	methods: {
		//获取场馆列表
		getOrganizationData() {
			let data = {
				Sport: this.sport,
				MaxResultCount: this.pageSize,
				SkipCount: this.page
			};
			this.$api.getOrganization(data, res => {
				console.log(res, '获取场馆列表res');
				res.items.forEach(item => {
					item.bannerImage = item.bannerImage.replace('{0}', 's');
				});
				this.venueList = [...this.venueList, ...res.items];
				this.totalCount = res.totalCount;
			});
		},
		toChange(id, e) {
			console.log(e, '-----0000000-----');
			// console.log(id,"-----0000000idididi-----")
			this.screenList.forEach(item => {
				if (item.id == id) {
					item.activeId = e.target.value;
					item.value = item.typeArray[item.activeId];
					this.sport = item.value;
					this.page = 0;
					this.venueList = [];
					this.getOrganizationData();
				}
			});
			// console.log(this.screenList,"-----0000000-----")
			// this.regionIndex = e.target.value;
			// this.region = this.regionTypeArray[this.regionIndex];
		},
		//跳转到场馆详情页
		toVenueDetail(id) {
			uni.navigateTo({
				url: `/pages/venueDetail/venueDetail?id=${id}&couponId=${this.couponId}&discountAmount=${this.discountAmount}&minimumPrice=${this.minimumPrice}`
			});
		},
		//点击筛选nav
		toActive(id) {
			this.activeId = id;
		}
	}
};
</script>

<style scoped lang="scss">
.venue_list {
	.screen {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: auto;
		> view {
			.label_flex {
				display: flex;
				align-items: center;
				font-weight: 900;
			}
			.label_icon {
				width: 8px;
				height: 8px;
				margin-left: 5px;
			}
		}
	}
	.tag {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: 2vh auto;
		> view {
			background-color: #eaecef;
			color: #666;
			padding: 5px 10px;
			font-size: 12px;
		}
	}
	// .list::-webkit-scrollbar{
	// 	display: none;
	// }
	.list {
		width: 90%;
		margin: auto;
		// height: 90vh;
		// overflow: auto;
		> view {
			display: flex;
			align-items: center;
			position: relative;
			background-color: #f8f8fa;
			padding: 20px 10px;
			margin: 15px 0;
			.youhui {
				position: absolute;
				top: 5px;
				right: 10px;
				width: 65px;
				height: 25px;
				line-height: 30px;
				background-image: url(../../static/img/venue_yhbg.png);
				background-size: 100% 100%;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				image {
					width: 12px;
					height: 12px;
					margin-right: 5px;
				}
			}
			.left {
				image {
					width: 100px;
					height: 80px;
					margin-right: 3vw;
				}
			}
			.right {
				// background-color: #18BC37;
				> view:first-child {
					font-size: 20px;
					font-weight: 900;
				}
				.row1 {
					display: flex;
					align-items: center;
					font-size: 15px;
					color: #666;
					margin: 5px 0;
					> view:nth-child(3) {
						margin-left: 10px;
					}
					image {
						width: 10px;
						height: 10px;
						margin-right: 2px;
					}
				}
				.row2 {
					display: flex;
					align-items: center;
					color: #666;
					> view {
						margin-right: 10px;
					}
					> view:nth-child(2) {
						display: flex;
						align-items: center;
						text {
							height: 20px;
							// overflow: hidden; //超出部分隐藏
							// -webkit-line-clamp: 3; //显示几行
							// text-overflow: ellipsis; //超出部分显示省略号
							font-size: 14px;
						}
					}
					image {
						width: 12px;
						height: 14px;
						margin-right: 5px;
					}
				}
				.row3 {
					display: flex;
					margin-top: 5px;
					> view {
						margin-right: 20px;
						background-color: #e9f2ff;
						color: #0385ff;
						padding: 2px 4px;
					}
				}
			}
		}
	}
}
</style>
