<template>
	<view>
		<map style='width:100vw;height:100vh' :longitude="longitude" :latitude="latitude" scale="18" show-compass="ture" enable-3D="ture" enable-overlooking="ture" enable-rotate="ture" enable-zoom="ture" enable-scroll="ture"></map>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				latitude:"",
				longitude:""
			}
		},
		onLoad(options) {
			console.log(options,"00000000000000")
			this.longitude = options.long
			this.latitude = options.lat
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
