<template>
	<view class="venue_detail">
		<view class="scroll">
			<view class="wroking">营业中</view>
			<scroll-view class="scrollContainer" scroll-x>
				<view class="scrollitem" v-for="(item, index) in imgData" :key="index" style=""><image :src="item" mode=""></image></view>
			</scroll-view>
		</view>
		<view class="title">
			<view class="row1">
				<view>{{ infoData.name }}</view>
				<view>发票</view>
			</view>
			<view class="row2">
				<view>
					<image v-for="(xing, index) in infoData.stars" :key="index" src="../../static/img/venue_xing.png" mode=""></image>
					<text>{{ infoData.stars }}.0</text>
				</view>
				<view>
					<text>{{ infoData.openDayOfWeek }}</text>
					<text>{{ infoData.openTime }}~{{ infoData.closeTime }}</text>
				</view>
			</view>
		</view>
		<view class="address">
			<view class="left">
				<image src="../../static/img/weizhi.png" mode=""></image>
				<text>{{ infoData.location }}</text>
			</view>
			<view class="right">
				<image src="../../static/img/vdetail_icon2.png" mode="" @click="toDaohang(infoData.locationGPS)"></image>
				<image src="../../static/img/vdetail_icon1.png" mode="" @click="toPhone"></image>
			</view>
		</view>
		<view class="reserve">
			<view class="nav">
				<view v-for="item in navList" :key="item.id" :class="{ set_nav: item.id == activeId }" @click="toSelectNav(item.id)">{{ item.name }}</view>
			</view>
			<view class="reserve_time">
				<scroll-view class="scrollContainer" scroll-x>
					<view class="scrollitem" v-for="item in reserveTime" :key="item.id">
						<view>{{ item.week }}</view>
						<view>{{ item.date }}</view>
						<view><button type="default" size="mini" @click="toReserveDetail(item.id, item.time, item.week)">预定</button></view>
					</view>
				</scroll-view>
			</view>
		</view>
		<view class="service">
			<view>设施服务</view>
			<view>
				<view class="row1">
					<view>设施</view>
					<view v-for="(item, index) in infoData.facilityTag" :key="index">{{ item }}</view>
				</view>
				<view class="row2">
					<view>服务</view>
					<view v-for="(item, index) in infoData.serviceTag" :key="index">{{ item }}</view>
				</view>
			</view>
			<view class="introduce">
				<view>
					<view>场馆介绍</view>
					<view>
						查看更多
						<image src="../../static/img/my_jiantou.png" mode=""></image>
					</view>
				</view>
				<view>{{ infoData.introduction }}</view>
			</view>
		</view>
		<view class="set_height"></view>

		<uni-popup ref="popup" :mask-click="false" background-color="#fff" @change="change">
			<view class="popup_content">
				<view class="title">
					选择联系电话
					<image src="../../static/img/venue_x.png" mode="" @click="closePopup"></image>
				</view>
				<view class="context">
					<view v-if="infoData.phone" :class="{ set_bg: activePhone1 == true }" @click="selectPhone(1,infoData.phone)">
						手机号1
						<text selectable="true">{{ infoData.phone }}</text>
					</view>
					<view v-if="infoData.phoneBak" :class="{ set_bg: activePhone2 == true }" @click="selectPhone(2,infoData.phoneBak)">
						手机号2
						<text selectable="true">{{ infoData.phoneBak }}</text>
					</view>
				</view>
			</view>
		</uni-popup>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//场馆图数据
			imgData: [
				// '../../static/img/home_venue1.png', '../../static/img/home_venue2.png', '../../static/img/home_venue3.png', '../../static/img/home_venue4.png'
			],
			//预定nav数据
			navList: [{ id: 1, name: '羽毛球' }, { id: 2, name: '篮球' }, { id: 3, name: '足球' }],
			activeId: '', //当前选择的nav
			//预定时间列表
			reserveTime: [
				// { id: 1, name: '今天', date: '10月25日' },
				// { id: 2, name: '星期四', date: '10月26日' },
				// { id: 3, name: '星期五', date: '10月27日' },
				// { id: 4, name: '星期六', date: '10月28日' },
				// { id: 5, name: '星期天', date: '10月29日' },
				// { id: 6, name: '星期一', date: '10月30日' },
				// { id: 7, name: '星期二', date: '10月31日' }
			],
			venueId: '', //页面传过来的场馆id
			infoData: {}, //页面数据
			activePhone1: false ,//当前选择的手机号
			activePhone2: false //当前选择的手机号
		};
	},
	onLoad(options) {
		console.log(options, 'optinos====');
		this.venueId = options.id;
		if (options.couponId != 'undefined') {
			uni.setStorageSync('couponId', options.couponId);
		}
		if (options.discountAmount != 'undefined') {
			uni.setStorageSync('discountAmount', options.discountAmount);
		}
		if (options.minimumPrice != 'undefined') {
			uni.setStorageSync('minimumPrice', options.minimumPrice);
		}

		this.getDataInfo();
		this.getSportData();
		this.getReserveTime();
	},
	methods: {
		//获取场馆信息
		getDataInfo() {
			let data = {};
			let param = this.venueId;
			this.$api.getOrganizationInfo(param, data, res => {
				console.log(res, '获取场馆信息res');
				res.bannerImages.forEach(item => {
					item = item.replace('{0}', 'm');
					console.log(item, 'itemitemitemitem');
					this.imgData.push(item);
				});
				this.infoData = res;
			});
		},
		//获取体育列表
		getSportData() {
			let data = {};
			this.$api.getSport(data, res => {
				console.log(res, '获取体育列表res');
				this.navList = res.items;
				this.activeId = res.items[0].id;
			});
		},
		//预定时间列表
		getReserveTime() {
			var date = new Date();
			var base = new Date(date).getTime();
			var oneDay = 24 * 3600 * 1000;
			var date = [];
			var data = [Math.random() * 300];
			var time = new Date(base);
			date.push([time.getFullYear(), time.getMonth() + 1, time.getDate()].join('-'));
			// date.push([ time.getMonth() + 1, time.getDate()].join('-'));
			for (var i = 1; i < 7; i++) {
				//控制需要的天数
				var now = new Date((base += oneDay)); //这里控制往前一周还是往后一周
				date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'));
				// date.push([now.getMonth() + 1, now.getDate()].join('-'));
				data.push(Math.round((Math.random() - 0.5) * 20 + data[i - 1]));
			}
			// var newdate = date.reverse(); //往后一周的话需要将数组倒叙，完后不需要
			let weekArrayList = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
			let week = [];
			date.forEach((item, index) => {
				let arr = item.split('-');
				let date = arr[1] + '月' + arr[2] + '日';
				week.push({ id: index, week: weekArrayList[new Date(item).getDay()], date: date, time: item });
			});
			// console.log(date,"============")
			// console.log(week,"============")
			week[0].week = '今天';
			this.reserveTime = week;
		},
		//点击选择预定nav
		toSelectNav(id) {
			this.activeId = id;
		},
		//点击预定
		toReserveDetail(id, time, week) {
			uni.navigateTo({
				url: `/pages/reserveDetail/reserveDetail?name=${this.infoData.name}&id=${id}&time=${time}&week=${week}`
			});
		},
		//点击手机号选择
		toPhone() {
			this.$refs.popup.open('bottom');
		},
		change(e) {
			console.log('当前模式：' + e.type + ',状态：' + e.show);
		},
		closePopup() {
			this.$refs.popup.close();
		},
		selectPhone(val,phone) {
			if(val==1){
				this.activePhone1 = true;
				this.activePhone2 = false;
			}else{
				this.activePhone1 = false;
				this.activePhone2 = true;
			}
			uni.makePhoneCall({
				phoneNumber: phone+"",
				success(res) {
					console.log(res,'拨打成功了');
				},
				fail(err) {
					console.log(err,'拨打失败了');
				}
			});
		},
		//位置导航
		toDaohang(locationGPS) {
			let long = locationGPS.split(',')[1];
			let lat = locationGPS.split(',')[0];
			const latitude = Number(lat);
			const longitude = Number(long);
			uni.navigateTo({
				url: `/pages/locationGPS/locationGPS?long=${longitude}&lat=${latitude}`
			});
			// const latitude = Number(lat);
			// const longitude = Number(long);
			// uni.getLocation({
			// 	type: 'wgs84',//gcj02 wgs84
			// 	success(res) {
			// 		console.log(res,'获取当前位置');
			// 		uni.openLocation({
			// 			latitude: latitude,
			// 			longitude: longitude,
			// 			scale: 15,
			// 			name:address,
			// 			success:function(res){
			// 				console.log(res,"0000000000===")
			// 			}
			// 		});
			// 	}
			// });
		}
	}
};
</script>

<style scoped lang="scss">
.venue_detail {
	background-color: #fff;
	.scroll {
		width: 90%;
		margin: auto;
		position: relative;
		.wroking {
			position: absolute;
			top: 10px;
			right: 50px;
			z-index: 100;
			background-color: #e9f2ff;
			font-size: 12px;
			padding: 4px;
			border-radius: 2px;
			color: #0385ff;
		}
		.scrollContainer {
			white-space: nowrap;
			width: 100%;
			margin: 0 auto;
			.scrollitem {
				display: inline-block;
				text-align: center;
				margin-right: 2vw;
				border-radius: 10px;
				image {
					width: 300px;
					height: 150px;
				}
			}
		}
	}
	.title {
		width: 90%;
		margin: auto;
		.row1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			> view:first-child {
				font-size: 20px;
				font-weight: 900;
			}
			> view:nth-child(2) {
				background-color: #e9f2ff;
				color: #0385ff;
				padding: 2px 5px;
				font-size: 12px;
			}
		}
		.row2 {
			display: flex;
			// justify-content:space-between;
			align-items: center;
			color: #666;
			padding: 10px 0;
			> view:first-child {
				display: flex;
				align-items: center;
				margin-right: 30px;
			}
			> view:nth-child(2) {
				font-size: 14px;
			}
			image {
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}
		}
	}
	.address {
		width: 90%;
		margin: auto;
		background-color: #f8f8fa;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2px 10px;
		.left {
			display: flex;
			align-items: center;
			font-size: 14px;
			image {
				width: 10px;
				height: 12px;
				margin-right: 2vw;
			}
		}
		.right {
			image {
				width: 18px;
				height: 18px;
				margin: 10px;
			}
		}
	}
	.reserve {
		width: 90%;
		margin: auto;
		.nav {
			display: flex;
			> view {
				margin: 10px;
				color: #666;
			}
			.set_nav {
				border-bottom: 3px solid #007aff;
				color: #000;
				font-weight: 900;
			}
		}
		.reserve_time {
			.scrollContainer {
				white-space: nowrap;
				width: 100%;
				margin: 0 auto;
				.scrollitem {
					display: inline-block;
					text-align: center;
					margin-right: 3vw;
					background-color: #f8f8fa;
					padding: 10px;
					> view:first-child {
						font-size: 16px;
						font-weight: 900;
					}
					> view:nth-child(2) {
						font-size: 12px;
						color: #666;
						padding: 8px 0;
					}
					> view:nth-child(3) {
						button {
							background-color: #5d718f;
							color: #fff;
						}
					}
				}
			}
		}
	}
	.service {
		width: 90%;
		margin: 3vh auto;
		> view:first-child {
			font-size: 20px;
			font-weight: 900;
			margin-bottom: 2vh;
		}
		> view:nth-child(2) {
			background-color: #f8f8fa;
			padding: 20px;
			> view {
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #666;
				> view:first-child {
					font-weight: 900;
					color: #000;
				}
			}
			.row1 {
				padding-bottom: 10px;
				border-bottom: 1px solid #dededf;
			}
			.row2 {
				padding-top: 10px;
			}
		}
		.introduce {
			background-color: #f8f8fa;
			padding: 20px;
			margin-top: 2vh;
			> view:first-child {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 18px;
				color: #000;
				font-weight: 900;
				margin-bottom: 20px;
				> view:nth-child(2) {
					display: flex;
					align-items: center;
					color: #666;
					font-size: 14px;
					font-weight: 500;
				}
			}
			> view:nth-child(2) {
				color: #666;
				font-size: 14px;
			}
			image {
				width: 15px;
				height: 5px;
				margin-left: 2vw;
			}
		}
	}
	.set_height {
		height: 2vh;
	}
	.popup_content {
		// height: 20vh;
		.title {
			width: 90%;
			margin: 2vh auto;
			font-size: 16px;
			font-weight: 800;
			display: flex;
			align-items: center;
			justify-content: space-between;
			image {
				width: 10px;
				height: 10px;
			}
		}
		.context {
			width: 80%;
			margin: auto;
			> view {
				background-color: #f8f8fa;
				text-align: center;
				height: 50px;
				line-height: 50px;
				margin: 2vh 0;
				text {
					margin-left: 2vw;
				}
			}
			.set_bg {
				background-color: #050206 !important;
				color: #fff !important;
			}
		}
	}
}
</style>
