<template>
	<view class="order">
		<view class="nav">
			<view v-for="item in navList" :key="item.id" :class="{ set_nav: activeId == item.id }" @click="toSelectNav(item.id)">{{ item.name }}</view>
			<view class="nav_text" @click="toMore">更多</view>
		</view>
		<view class="content">
			<view v-for="item in orderList" :key="item.id">
				<view><image :src="item.icon" mode=""></image></view>
				<view class="left" :class="{ set_font: item.billStatus == 3 }">
					<view @click="toOrderDetail(item.id)">
						<view class="row1">
							<view>{{ item.organizationName }}</view>
							<view v-if="item.billStatus == 0" style="color: #007AFF;">待支付</view>
							<view v-else-if="item.billStatus == 1" style="color: #49cc90;">已支付</view>
							<view v-else-if="item.billStatus == 2" style="color: #fc5531;">支付失败</view>
							<view v-else-if="item.billStatus == 3" style="color: #666;">已取消</view>
							<view v-else-if="item.billStatus == 4" style="color: #ffd269;">退款中</view>
							<view v-else-if="item.billStatus == 5" style="color: #e64340;">已退款</view>
							<view v-else-if="item.billStatus == 6" style="color: #46d0ba;">审核中</view>
							<view v-else-if="item.billStatus == 7" style="color: #fc5531;">审核失败</view>
						</view>
						<view class="row2">
							<view :class="{ set_font: item.billStatus == 3 }">
								<text>预约场地：</text>
								<text>{{ item.placeFullName }}-{{ item.scheduleName }}</text>
							</view>
							<view>￥{{ item.price }}</view>
						</view>
						<view class="row3" :class="{ set_font: item.billStatus == 3 }">
							<text>预约时间：</text>
							<text>{{ item.shortDate }} {{ item.scheduleStartTimeStr }}-{{ item.scheduleEndTimeStr }}</text>
						</view>
					</view>
					<view class="row4" v-if="item.billStatus != 0">
						<view><button type="default" plain="true" size="mini" @click="deleteOrder(item.id)">删除</button></view>
					</view>
					<view class="row4" v-else-if="item.billStatus == 0">
						<view><button type="default" plain="true" size="mini" @click="cancelOrder(item.id)">取消</button></view>
						<view><button type="default" size="mini" style="background-color: #5a718e;color: #fff;" @click="payOrder(item.id)">支付</button></view>
					</view>
				</view>
			</view>
		</view>
		<view class="set_height"></view>
		<view class="more" :class="{ set_show: isShow }">
			<view v-for="(item, index) in navListMore" :key="index" @click="toActiveNav(item.isActive, item.id)">
				<view><uni-icons type="checkmarkempty" size="15" v-if="item.id == activeId"></uni-icons></view>
				<view>{{ item.name }}</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			activeId: -1, //当前选择的nav
			//控制元素是否显示样式
			isShow: false,
			//订单nav列表
			navList: [{ id: -1, name: '全部' }, { id: 0, name: '待支付' }, { id: 1, name: '已支付' }, { id: 4, name: '退款中' }, { id: 6, name: '审核中' }],
			//更多
			navListMore: [
				{ id: -1, name: '全部', isActive: false },
				{ id: 0, name: '待支付', isActive: false },
				{ id: 1, name: '已支付', isActive: false },
				{ id: 2, name: '支付失败', isActive: false },
				{ id: 3, name: '已取消', isActive: false },
				{ id: 4, name: '退款中', isActive: false },
				{ id: 5, name: '已退款', isActive: false },
				{ id: 6, name: '审核中', isActive: false },
				{ id: 7, name: '审核失败', isActive: false }
			],
			//订单列表
			orderList: [
				// { id: 1, icon: '../../static/img/home_nav2.png', title: '爱瑞特综合馆', status: 0, field: '01号场地-早场', price: '16.10', time: '2022-10-11 09:00-11:00' },
				// { id: 2, icon: '../../static/img/home_nav3.png', title: '爱瑞特综合馆', status: 1, field: '01号场地-早场', price: '16.10', time: '2022-10-11 09:00-11:00' },
				// { id: 3, icon: '../../static/img/home_nav4.png', title: '爱瑞特综合馆', status: 2, field: '01号场地-早场', price: '16.10', time: '2022-10-11 09:00-11:00' },
				// { id: 4, icon: '../../static/img/home_nav5.png', title: '爱瑞特综合馆', status: 3, field: '01号场地-早场', price: '16.10', time: '2022-10-11 09:00-11:00' },
				// { id: 5, icon: '../../static/img/home_nav6.png', title: '爱瑞特综合馆', status: 4, field: '01号场地-早场', price: '16.10', time: '2022-10-11 09:00-11:00' }
			],
			billStatus: '', //订单状态
			pageSize: 10, //每页显示多少条记录
			page: 0, //跳过多少条记录
			totalCount: 0 //数据总数
		};
	},
	onShow() {
		this.isShow = false;
		this.getData();
		if(!uni.getStorageSync('access_token')){
			uni.navigateTo({
				url: '/pages/login/login'
			});
		}
	},
	// 触底加载
	onReachBottom() {
		if (this.totalCount >= this.page) {
			this.page += this.pageSize;
			this.getData();
		}
	},
	methods: {
		getData() {
			let sportList = uni.getStorageSync('sportList');
			let data = {
				BillStatus: this.billStatus,
				MaxResultCount: this.pageSize,
				SkipCount: this.page
			};
			this.$api.getBooking(data, res => {
				console.log(res, '获取订单列表res');
				console.log(sportList, 'sportList');
				res.items.forEach(item => {
					sportList.forEach(ele => {
						if ((item.sportId = ele.id)) {
							item.icon = ele.icon;
						}
					});
				});
				this.orderList = [...this.orderList, ...res.items];
				this.totalCount = res.totalCount;
			});
		},
		//点击删除
		deleteOrder(id) {
			let data = {};
			let param = id;
			this.$api.deleteBookingInfo(param, data, res => {
				console.log(res, '删除预约信息res');
				uni.showToast({
					title: '删除成功',
					icon: 'none',
					duration: 2000
				});
				this.orderList = [];
				this.page = 0;
				this.getData();
			});
		},
		//点击取消
		cancelOrder(id) {
			let data = {};
			let param = id;
			this.$api.cancelBookingInfo(param, data, res => {
				console.log(res, '取消预约信息res');
				uni.showToast({
					title: '取消成功',
					icon: 'none',
					duration: 2000
				});
				this.orderList = [];
				this.page = 0;
				this.getData();
			});
		},
		//点击支付
		payOrder(id){
			// #ifndef H5
			if(uni.getStorageSync('checked')){
				let that = this
				uni.requestSubscribeMessage({
					tmplIds: ['yfZOSA59GJ0ALKI4donhykcfQREcY3aHxcWH8HkU18A', 'RG7SNMW1EMoQE8pS1VIZRDz5rveaGBrGWgC22Xmkc8E', 'pAayv7TrTQK4GaufC142Zs3N54ay2aA2ylHJLgKGYfw'],
					success(res) {
						console.log(res, '支付消息模板res');
						that.pay(id)
					}
				});
			}else{
				this.pay(id)
			}
			// #endif
			// #ifdef H5
			this.pay(id)
			// #endif
			// let data = {
			// 	openId: this.openId,
			// 	orderId: id,
			// 	orderType: 0
			// };
			// this.$api.JsApiWxOpen(data, res => {
			// 	console.log(res, '小程序使用微信内部支付res');
			// 	let timeStamp = res.timestamp;
			// 	let nonceStr = res.nonceStr;
			// 	let packageStr = res.prepayIdPackage;
			// 	let paySign = res.signature;
			// 	this.toPayment(timeStamp, nonceStr, packageStr, paySign);
			// });
		},
		pay(id){
			// #ifndef H5
			let data = {
				openId: this.openId,
				orderId: id,
				orderType: 0
			};
			this.$api.JsApiWxOpen(data, res => {
				console.log(res, '小程序使用微信内部支付res');
				let timeStamp = res.timestamp;
				let nonceStr = res.nonceStr;
				let packageStr = res.prepayIdPackage;
				let paySign = res.signature;
				this.toPayment(timeStamp, nonceStr, packageStr, paySign);
			});
			// #endif
			// #ifdef H5
			console.log(uni.getStorageSync('openid'),"openid==============")
			let data1 = {
				openId:uni.getStorageSync('openid'),
				orderId: id,
				orderType: 0
			};
			this.$api.JsApi(data1, res => {
				console.log(res, '微信公众号使用微信内部支付res');
				let timeStamp = res.timestamp;
				let nonceStr = res.nonceStr;
				let packageStr = res.prepayIdPackage;
				let paySign = res.signature;
				this.toPayment(timeStamp, nonceStr, packageStr, paySign);
			});
			// #endif
		},
		//支付
		toPayment(timeStamp, nonceStr, packageStr, paySign) {
			let that = this;
			wx.requestPayment({
				timeStamp: timeStamp,
				nonceStr: nonceStr,
				package: packageStr,
				signType: 'MD5',
				paySign: paySign,
				success(res) {
					console.log(res, '成功');
				},
				fail(res) {
					console.log(res, '失败');
				}
			});
			// #ifdef H5
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				{
					// 下面参数内容都是后台返回的
					appId: 'wx42b8b87ce8098825', // 公众号名称，由商户传入
					timeStamp: timeStamp, // 时间戳
					nonceStr: nonceStr, // 随机串
					package: packageStr, // 预支付id
					signType: 'MD5', // 微信签名方式
					paySign: paySign // 微信签名
				},
				function(res) {
					console.log(res);
					if (res.err_msg == 'get_brand_wcpay_request:ok') {
						vm.$message.success('支付成功'); // 使用alert来弹窗 支付成功  是没有反应的。所以这里改为框架页面的弹窗就好了。注意必须要上这个微信浏览器内置事件外 转this指向才能弹窗
					} else if (res.err_msg == 'get_brand_wcpay_request:cancel') {
						alert('支付取消');
					} else {
						alert('付款失败');
					}
				}
			);
			// #endif
		},
		//选择订单nav
		toSelectNav(id) {
			this.activeId = id;
			if (id == -1) {
				this.billStatus = '';
				this.page = 0;
				this.orderList = [];
				this.getData();
			} else {
				this.billStatus = id * 1;
				this.page = 0;
				this.orderList = [];
				this.getData();
			}
		},
		//点击更多的订单nav
		toActiveNav(val, id) {
			console.log(val, '00000');
			console.log(id, '00000');
			this.activeId = id;
			this.isShow = false;
			if (id == -1) {
				this.billStatus = '';
				this.page = 0;
				this.orderList = [];
				this.getData();
			} else {
				this.billStatus = id * 1;
				this.page = 0;
				this.orderList = [];
				this.getData();
			}
		},
		//点击跳转订单详情页
		toOrderDetail(id) {
			uni.navigateTo({
				url: `/pages/orderDetail/orderDetail?id=${id}`
			});
		},
		//点击更多
		toMore() {
			this.isShow = !this.isShow;
		}
	}
};
</script>

<style scoped lang="scss">
//  .order::-webkit-scrollbar {
// 	display: none;
// }
.order {
	background-color: #fff;
	// height: 100vh;
	// overflow: auto;
	.nav {
		width: 95%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		.set_nav {
			border-bottom: 2px solid #007aff;
		}
		.nav_text {
			color: #666;
		}
	}
	// .content::-webkit-scrollbar {
	// 	display: none;
	// }
	.content {
		width: 95%;
		// height: 90vh;
		margin: 2vh auto;
		// overflow: auto;
		.set_font {
			color: #a1a1a1 !important;
			// .row2,.row3{
			// 	color: #a1a1a1 !important;
			// }
		}
		> view {
			background-color: #f2f2f3;
			display: flex;
			padding: 10px;
			margin: 10px 0;
			border-radius: 10px;

			.left {
				width: 88%;

				.row1 {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 5px;
					> view:first-child {
						font-size: 20px;
						font-weight: 900;
					}
				}
				.row2 {
					display: flex;
					justify-content: space-between;
					align-items: center;
					> view:first-child {
						color: #666;
					}
					> view:nth-child(2) {
						font-weight: 900;
					}
				}
				.row3 {
					color: #666;
				}
				.row4 {
					display: flex;
					justify-content: flex-end;
					button {
						margin: 10px 0 0 10px;
					}
				}
			}
			image {
				width: 30px;
				height: 30px;
				margin-right: 2vw;
			}
		}
	}
	.set_height {
		height: 2vh;
	}
	.more {
		display: none;
		background-color: #e5edf3;
		border-radius: 5px;
		border: 1px solid #e2e2e2;
		width: 85px;
		position: fixed;
		top: 35px;
		right: 5px;
		font-size: 15px;
		> view {
			display: flex;
			align-items: center;
			padding: 2px 0 2px 4px;
			> view:first-child {
				width: 20px;
			}
		}
	}
	.set_show {
		display: inline !important;
	}
}
</style>
