<template>
	<view class="set_password">
		<view class="row1">填写您的密码</view>
		<view class="row2">请设置登录密码</view>
		<view class="row3">原密码</view>
		<view class="row4">
			<input type="text" v-model="oldPwd" placeholder="请输入原密码" />
			<!-- <uni-easyinput :styles="styles" :placeholderStyle="placeholderStyle" v-model="oldPwd" focus placeholder="请输入原密码" @input="input"></uni-easyinput> -->
		</view>
		<view class="row5">
			新密码
		</view>
		<view class="row6">
			<input type="text" v-model="newPwd" placeholder="请输入新密码..." />
			<!-- <uni-easyinput  v-model="value" focus placeholder="请输入新密码..." @input="input"></uni-easyinput> -->
		</view>
		<view class="row7">
			确认密码
		</view>
		<view class="row8">
			<input type="text" v-model="newPwds" placeholder="再次输入新密码..." />
			<!-- <uni-easyinput  v-model="value" focus placeholder="再次输入新密码..." @input="input"></uni-easyinput> -->
		</view>
		<view class="btn">
			<button type="default">保存</button>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			oldPwd: '*******9',
			newPwd:"",
			newPwds:"",
			placeholderStyle: 'color:#000;font-size:14px',
			styles: {
				color: '#000',
				borderColor: '#f1f6ff'
			}
		};
	},
	methods: {
		input() {}
	}
};
</script>
<style scoped lang="scss">
.set_password {
	height: 100vh;
	background-color: #fff;
	>view{
		margin: auto;
		width: 90%;
	}
	.row1{
		padding: 10px;
		color: #666;
	}
	.row2{
		padding-bottom: 20px;
		font-size: 18px;
		font-weight: 900;
	}
	.row3{
		margin-bottom: 10px;
	}
	.row4{
		margin-bottom: 10px;
		input{
			border: 1px solid #007AFF;
			height: 40px;
			border-radius: 5px;
			padding: 0 10px;
			background-color: #f2f5ff;
		}
	}
	.row5{
		margin-bottom: 10px;
	}
	.row6{
		margin-bottom: 10px;
		input{
			height: 40px;
			border-radius: 5px;
			padding: 0 10px;
			background-color: #f8f8fa;
		}
	}
	.row7{
		margin-bottom: 10px;
	}
	.row8{
		margin-bottom: 10px;
		input{
			height: 40px;
			border-radius: 5px;
			padding: 0 10px;
			background-color: #f8f8fa;
		}
	}
	.btn{
		position: fixed;
		bottom: 1px;
		left: 5%;
		
		button{
			color: #fff;
			background-color: #5a7090;
		}
	}
}
</style>
