<template>
	<view class="feedback">
		<view class="row1">填写您的反馈意见</view>
		<view class="row2">感性您宝贵的建议</view>
		<view class="row3">
			<textarea v-model="text" rows="3" maxlength="150" placeholder="请输入150字以内的意见反馈" />
			<view class="length">
				<text>0</text><text>/</text><text>150</text>
			</view>

			<!-- <textarea class="weui-textarea" placeholder="请输入个性签名" rows="2" name="signature" maxlength="100" onkeyup="setLength(this,100,'wordsLength');"></textarea>
			<div class="weui-textarea-counter">
				<span id="length">0</span>
				/100
			</div> -->
		</view>
		<view class="row4">
			<button type="default">提交</button>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {};
	},
	methods: {}
};
</script>

<style scoped lang="scss">
.feedback {
	height: 100vh;
	background-color: #fff;
	> view {
		width: 90%;
		margin: auto;
		margin-bottom: 10px;
	}
	.row1 {
		padding-top: 2px;
		color: #666;
	}
	.row2 {
		font-size: 18px;
		font-weight: 900;
	}
	.row3 {
		position: relative;
		textarea {
			background-color: #f8f8fa;
			border-radius: 5px;
			padding: 10px;
		}
		.length{
			position: absolute;
			bottom: 5px;
			right: 30px;
			color: #666;
		}
	}
	.row4{
		position: fixed;
		bottom: 2px;
		left: 5%;
		
		button{
			color: #fff;
			background-color: #5c7090;
		}
	}
}
</style>
