<template>
	<view class="search_res">
		<view class="title">
			搜索结果
		</view>
		<view class="list">
			<view v-for="item in venueList" :key="item.id" @click="toVenueDetail(item.id)">
				<view class="youhui" v-if="item.isPromoting">
					<image src="../../static/img/venue_yh.png" mode=""></image>
					优惠
				</view>
				<view class="left"><image :src="item.bannerImage" mode=""></image></view>
				<view class="right">
					<view>{{ item.name }}</view>
					<view class="row1">
						<view><image v-for="(xing, index) in item.stars" :key="index" src="../../static/img/venue_xing.png" mode=""></image></view>
						<view>{{ item.stars }}.0</view>
						<view>{{ item.comments.length }}条评论</view>
					</view>
					<view class="row2">
						<view>{{ item.cityName }}</view>
						<view>
							<image src="../../static/img/weizhi.png" mode=""></image>
							<text>{{ item.location }}</text>
						</view>
					</view>
					<view class="row3">
						<view v-for="(tag, index) in item.serviceTag" :key="index">{{ tag }}</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				//场馆列表
				venueList: [],
				pageSize: 10, //每页显示多少条记录
				page: 0, //跳过多少条记录
				totalCount: 0, //数据总数
				searchValue:""//搜索值
			}
		},
		onLoad(options) {
			console.log(options)
			this.searchValue =JSON.parse(options.value) 
			console.log(this.searchValue)
			this.getOrganizationData();
		},
		// 触底加载
		onReachBottom() {
			if (this.totalCount >= this.page) {
				this.page += this.pageSize;
				this.getOrganizationData();
			}
			console.log('0000');
		},
		methods: {
			//获取场馆列表
			getOrganizationData() {
				let data = {
					Query:this.searchValue,
					MaxResultCount: this.pageSize,
					SkipCount: this.page
				};
				this.$api.getOrganization(data, res => {
					console.log(res, '获取场馆列表res');
					res.items.forEach(item => {
						item.bannerImage = item.bannerImage.replace('{0}', 's');
					});
					this.venueList = [...this.venueList, ...res.items];
					this.totalCount = res.totalCount;
				});
			},
			//跳转到场馆详情页
			toVenueDetail(id) {
				uni.navigateTo({
					url: `/pages/venueDetail/venueDetail?id=${id}`
				});
			},
		}
	}
</script>

<style scoped lang="scss">
.search_res{
	.title{
		text-align: center;
		color: #b3b3b3;
	}
	.list {
		width: 90%;
		margin: auto;
		// height: 90vh;
		// overflow: auto;
		> view {
			display: flex;
			align-items: center;
			position: relative;
			background-color: #f8f8fa;
			padding: 20px 10px;
			margin: 15px 0;
			.youhui {
				position: absolute;
				top: 5px;
				right: 10px;
				width: 65px;
				height: 25px;
				line-height: 30px;
				background-image: url(../../static/img/venue_yhbg.png);
				background-size: 100% 100%;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				image {
					width: 12px;
					height: 12px;
					margin-right: 5px;
				}
			}
			.left {
				image {
					width: 100px;
					height: 80px;
					margin-right: 3vw;
				}
			}
			.right {
				// background-color: #18BC37;
				> view:first-child {
					font-size: 20px;
					font-weight: 900;
				}
				.row1 {
					display: flex;
					align-items: center;
					font-size: 15px;
					color: #666;
					margin: 5px 0;
					> view:nth-child(3) {
						margin-left: 10px;
					}
					image {
						width: 10px;
						height: 10px;
						margin-right: 2px;
					}
				}
				.row2 {
					display: flex;
					align-items: center;
					color: #666;
					> view {
						margin-right: 10px;
					}
					> view:nth-child(2) {
						display: flex;
						align-items: center;
						text {
							height: 20px;
							// overflow: hidden; //超出部分隐藏
							// -webkit-line-clamp: 3; //显示几行
							// text-overflow: ellipsis; //超出部分显示省略号
							font-size: 14px;
						}
					}
					image {
						width: 12px;
						height: 14px;
						margin-right: 5px;
					}
				}
				.row3 {
					display: flex;
					margin-top: 5px;
					> view {
						margin-right: 20px;
						background-color: #e9f2ff;
						color: #0385ff;
						padding: 2px 4px;
					}
				}
			}
		}
	}
}
</style>
